// bower:scss
@import "components-font-awesome/scss/fontawesome.scss";
// endbower

body {
  padding: 0;
}

.headbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background: #3b4988;
	z-index: 99;
	.pure-g{
		padding-top: 12.5px;
	}
	h2 {
		padding: 2px 10px;
	}
	.icon-group {
		padding-left: 25px;
		i {
			font-size: 22px;	
			margin: 8px 10px;
			cursor: pointer;

		}
	}
}
.noscroll {
	overflow: hidden;
}
.light {
	font-weight: 300;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.flt-left {
	float: left;
}
.flt-right {
	float: right;
}
.bg-black {
	background-color: #000000 !important;
  }
  .bg-white {
	background-color: #ffffff !important;
  }
  .bg-lime {
	background-color: #a4c400 !important;
  }
  .bg-green {
	background-color: #60a917 !important;
  }
  .bg-activeGreen{
	background-color: rgb(108, 195, 92) !important;
  }
  .bg-emerald {
	background-color: #008a00 !important;
  }
  .bg-teal {
	background-color: #00aba9 !important;
  }
  .bg-cyan {
	background-color: #1ba1e2 !important;
  }
  .bg-cobalt {
	background-color: #0050ef !important;
  }
  .bg-indigo {
	background-color: #6a00ff !important;
  }
  .bg-violet {
	background-color: #aa00ff !important;
  }
  .bg-pink {
	background-color: #dc4fad !important;
  }
  .bg-magenta {
	background-color: #d80073 !important;
  }
  .bg-crimson {
	background-color: #a20025 !important;
  }
  .bg-red {
	background-color: #e51400 !important;
  }
  .bg-orange {
	background-color: #fa6800 !important;
  }
  .bg-amber {
	background-color: #f0a30a !important;
  }
  .bg-yellow {
	background-color: #e3c800 !important;
  }
  .bg-brown {
	background-color: #825a2c !important;
  }
  .bg-olive {
	background-color: #6d8764 !important;
  }
  .bg-steel {
	background-color: #647687 !important;
  }
  .bg-mauve {
	background-color: #76608a !important;
  }
  .bg-taupe {
	background-color: #87794e !important;
  }
  .bg-gray {
	background-color: #555555 !important;
  }
  .bg-dark {
	background-color: #333333 !important;
  }
  .bg-darker {
	background-color: #222222 !important;
  }
  .bg-transparent {
	background-color: transparent !important;
  }
  .bg-darkBrown {
	background-color: #63362f !important;
  }
  .bg-darkCrimson {
	background-color: #640024 !important;
  }
  .bg-darkMagenta {
	background-color: #81003c !important;
  }
  .bg-darkIndigo {
	background-color: #4b0096 !important;
  }
  .bg-darkCyan {
	background-color: #1b6eae !important;
  }
  .bg-darkCobalt {
	background-color: #00356a !important;
  }
  .bg-darkTeal {
	background-color: #004050 !important;
  }
  .bg-darkEmerald {
	background-color: #003e00 !important;
  }
  .bg-darkGreen {
	background-color: #128023 !important;
  }
  .bg-darkOrange {
	background-color: #bf5a15 !important;
  }
  .bg-darkRed {
	background-color: #9a1616 !important;
  }
  .bg-darkPink {
	  background-color: #9a165a !important;
  }
  .bg-darkViolet {
	  background-color: #57169a !important;
  }
  .bg-darkBlue {
	  background-color: #16499a !important;
  }
  .bg-lightBlue {
	  background-color: #4390df !important;
  }
  .bg-lighterBlue {
	  background-color: #00ccff !important;
  }
  .bg-lightTeal {
	  background-color: #45fffd !important;
  }
  .bg-lightOlive {
	  background-color: #78aa1c !important;
  }
  .bg-lightOrange {
	  background-color: #c29008 !important;
  }
  .bg-lightPink {
	  background-color: #f472d0 !important;
  }
  .bg-grayDark {
	  background-color: #333333 !important;
  }
  .bg-grayDarker {
	  background-color: #222222 !important;
  }
  .bg-grayLight {
	  background-color: #999999 !important;
  }
  .bg-grayLighter {
	  background-color: #eeeeee !important;
  }
  .bg-lightRed {
	  background-color: #FF2D19 !important;
  }
  .bg-lightGreen {
	  background-color: #7AD61D !important;
  }
  .bg-globalColor{
	  background-color: #1E8CBE !important;
  }
  .fg-globalColor{
	  color: #1E8CBE !important;
  }
  .fg-black {
	  color: #000000 !important;
  }
  .fg-white {
	  color: #ffffff !important;
  }
  .fg-lime {
	  color: #a4c400 !important;
  }
  .fg-green {
	  color: #60a917 !important;
  }
  .fg-emerald {
	  color: #008a00 !important;
  }
  .fg-teal {
	  color: #00aba9 !important;
  }
  .fg-cyan {
	color: #1ba1e2 !important;
  }
  .fg-cobalt {
	color: #0050ef !important;
  }
  .fg-indigo {
	color: #6a00ff !important;
  }
  .fg-violet {
	color: #aa00ff !important;
  }
  .fg-pink {
	color: #dc4fad !important;
  }
  .fg-magenta {
	color: #d80073 !important;
  }
  .fg-crimson {
	color: #a20025 !important;
  }
  .fg-red {
	color: #e51400 !important;
  }
  .fg-orange {
	color: #fa6800 !important;
  }
  .fg-amber {
	color: #f0a30a !important;
  }
  .fg-yellow {
	color: #e3c800 !important;
  }
  .fg-brown {
	color: #825a2c !important;
  }
  .fg-olive {
	color: #6d8764 !important;
  }
  .fg-steel {
	color: #647687 !important;
  }
  .fg-mauve {
	color: #76608a !important;
  }
  .fg-taupe {
	color: #87794e !important;
  }
  .fg-gray {
	color: #555555 !important;
  }
  .fg-dark {
	color: #333333 !important;
  }
  .fg-darker {
	color: #222222 !important;
  }
  .fg-transparent {
	color: transparent !important;
  }
  .fg-darkBrown {
	color: #63362f !important;
  }
  .fg-darkCrimson {
	color: #640024 !important;
  }
  .fg-darkMagenta {
	color: #81003c !important;
  }
  .fg-darkIndigo {
	color: #4b0096 !important;
  }
  .fg-darkCyan {
	color: #1b6eae !important;
  }
  .fg-darkCobalt {
	color: #00356a !important;
  }
  .fg-darkTeal {
	color: #004050 !important;
  }
  .fg-darkEmerald {
	color: #003e00 !important;
  }
  .fg-darkGreen {
	color: #128023 !important;
  }
  .fg-darkOrange {
	color: #bf5a15 !important;
  }
  .fg-darkRed {
	color: #9a1616 !important;
  }
  .fg-darkPink {
	color: #9a165a !important;
  }
  .fg-darkViolet {
	color: #57169a !important;
  }
  .fg-darkBlue {
	color: #16499a !important;
  }
  .fg-lightBlue {
	color: #4390df !important;
  }
  .fg-lighterBlue {
	color: #00ccff !important;
  }
  .fg-lightTeal {
	color: #45fffd !important;
  }
  .fg-lightOlive {
	color: #78aa1c !important;
  }
  .fg-lightOrange {
	color: #c29008 !important;
  }
  .fg-lightPink {
	color: #f472d0 !important;
  }
  .fg-grayDark {
	color: #333333 !important;
  }
  .fg-grayDarker {
	color: #222222 !important;
  }
  .fg-grayLight {
	color: #999999 !important;
  }
  .fg-grayLighter {
	color: #eeeeee !important;
  }
  .fg-lightRed {
	  color: #FF2D19 !important;
  }
  .fg-lightGreen {
	  color: #7AD61D !important;
  }
  .fg-activeGreen{
	  color: rgb(108, 195, 92) !important;
  }
  .global-color-black{
	  background-color: #242424 !important;
  }
  .global-color-carbon{
	  background-color: #292929 !important;
  }
  .global-color-blue{
	  background-color: #48a5f3 !important;
  }

.new-recipe-box {
	margin-top: 65px;
	height: 87vh;
	background: #fff;
	box-shadow: inset 0px -1px 7px 0px #555;
  	.recipe-title-input {
		// border-radius: 0px !important;
		border: 0px !important;
		border-bottom: 1px solid #eae9ed !important;
		font-size: 16px;
		padding-left: 5px !important;
	}
	.custom-table {
		table-layout: fixed;
		border-collapse: collapse;
		width: 100%;
		background: #fff !important;
		thead {
			th {
				background: #f5f5f5 !important;
			}
		}
		tbody {
			overflow: auto;              
			display: block;
			width: 650px;
			min-height: 50px !important;
			max-height: 155px;
		}		
	}
	.editable {
		height: 350px;
		width: 100%;
		border-bottom: 1px solid #eae9ed;
		border-top: 1px solid #eae9ed;
		outline: 0px;
		font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
		padding: 5px 5px;
		overflow: auto;
		font-size: 15px;
		ol {
			padding-left: 12px;
		}
	}		  	
	.editable[contenteditable=true]:empty:after {
		content: attr(data-placeholder);
		display: block; /* For Firefox */
		color: #ccc;
		font-style: normal;		
	}
	.editable[contenteditable=true]:empty:focus:after {
		// content: "";
		color: #333;
	}	
	.spiciness-rate-box {
		float: left;
		padding-top: 10px;
		input { 
			display: none; 
		} 		
		label {
			color: #ddd;
			float: right;	
			cursor: pointer;		
		}
		label:before {
			margin: 0 5px;
			font-size: 24px;			
			display: inline-block;
			font-family: Icons;
			content: "\f06d";		
		}		
	}
	.upload-video-box {
		margin-right: 20px;
		.card {
			height: 205px;
			display: block;
			.image {
				height: 100%;
				text-align:center;
				cursor: pointer;
				i{
					font-size: 70px;
					margin-top: 50%;
					color: #999;
				}
			}
			.image:hover {
				i {
					color: #555;
				}
			}
		}
	}
	
	.spiciness-rate-box > input:checked ~ label, /* show gold star when clicked */
	.spiciness-rate-box:not(:checked) > label:hover, /* hover current star */
	.spiciness-rate-box:not(:checked) > label:hover ~ label { color: rgb(247, 81, 81);  } /* hover previous stars in list */

	.spiciness-rate-box > input:checked + label:hover, /* hover current star when changing spiciness-rate-box */
	.spiciness-rate-box > input:checked ~ label:hover,
	.spiciness-rate-box > label:hover ~ input:checked ~ label, /* lighten current selection */
	.spiciness-rate-box > input:checked ~ label:hover ~ label { color: rgb(241, 33, 33);  } 
}