// bower:scss
@import "components-font-awesome/scss/fontawesome.scss";
// endbower
@import "login.scss";

$spiciness-level-color: rgb(247, 81, 81);

/* typography.css */
@font-face {
    font-family: 'Open Sans Black';
    src: url('../fonts/OpenSans-ExtraBold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Semibold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/OpenSans-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans BoldItalic';
    src: url('../fonts/OpenSans-BoldItalic.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** hide scrollbar **/
::-webkit-scrollbar              { background: transparent;width: 0; }
::-webkit-scrollbar-button       { background: transparent; }
::-webkit-scrollbar-track        { background: transparent; }
::-webkit-scrollbar-track-piece  { background: transparent; }
::-webkit-scrollbar-thumb        { background: transparent; }
::-webkit-scrollbar-corner       { background: transparent; }
::-webkit-resizer                { background: transparent; }

/** search bg **/
.trans{
    background-image: linear-gradient(200deg, rgba(124,178,40,0.9) 0%, rgba(80,179,226,0.9) 100%);
}

*:not(i) {
	font-family: 'Open Sans', sans-serif !important;
}

*, *:before, *:after {box-sizing:  border-box !important;}

body {
  padding: 0;  
}

.bold{
    font-family: 'Open Sans Bold' !important;
}
.eb{
    font-family: 'Open Sans Bold' !important;
    line-height: 1;
}
.ei{
    font-family: 'Open Sans Italic' !important;
    line-height: 1;
}
.eb > .ei,.ei > .eb{
    font-family: 'Open Sans BoldItalic' !important;
    line-height: 1;
}
.black{
    font-family: 'Open Sans Black' !important;
}
.italic{
    font-family: 'Open Sans Italic' !important;
}
.bold > .italic,.italic > .bold{
    font-family: 'Open Sans BoldItalic' !important;
}

.headbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background: #3b4988;    
    z-index: 999999;
    box-shadow: rgba(0, 0, 0, 0.52) 0px 1px 2px 0px;
	.pure-g{
        padding-top: 8.5px;

        .bubble-mobile {
            top: 8px;
            left: 30px;
            z-index: 9999;
        }

        .toggle-sidebar {
            margin: 18px 40px 8px 10px;
        }
        .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
            -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;
        }
        .nav-toggle span:before {
            top: -6px;
        }
        .nav-toggle span:after {
            bottom: -6px;
        }
        .nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
            content: '';
            position: absolute;
            display: block;
            width: 25px;
            height: 2px;
            border-radius: 1px;
            background: #fff;
            cursor: pointer;
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
        }
        .nav-toggle.active span {
            background-color: transparent;
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
        }
        .nav-toggle.active span:before, .nav-toggle.active span:after {
            top: 0;
        }

        .nav-toggle.active span:before {
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .nav-toggle.active span:after {
            transition: all 300ms ease-in-out;
            -webkit-transition: all 300ms ease-in-out;
            top: 10px;
            -webkit-transform: translateY(-10px) rotate(-45deg);
            -ms-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
        }
        
        .toggle-search-btn.mobile-btn {
            margin: 9px 7px;
        }        

        .search-dropdown {
            display: none;
            letter-spacing: normal;
            // position: relative;
            position: absolute;
            // width: 100%;
            top: 56px;
            padding: 0px 0px 0px;
            border-radius: 3px;
            height: auto;
            background: rgba(255,255,255,0.99);
            box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
            overflow: auto;
            ul {
                position: relative;
                list-style-type: none;
                margin: 0;
                padding: 10px 0;
            }
            .search-all{
                float: left;
                padding: 0 20px;
                line-height: 39px;
                font-size: 15px;
                height: 40px;
                width: 100%;
                border-top: 1px solid rgba(235,235,235,0.6);
                box-shadow: 0px 0px 1px rgba(205,205,205,0.3);
                cursor: pointer;
                background: #f7f7f7;
                color: #222;
            }            
            .search-all:hover {
                background: #1b6eae;
                color: #fff;
            }
        }
	}
	h2 {
        padding: 6px 10px;        
        font-size: 21px;
	}
	.icon-group {
		padding-left: 15px;
		i {
			font-size: 19px;	
			margin: 9px 15px;
			cursor: pointer;

		}
	}
}
.margin0 {
    margin: 0 !important;
}
.noscroll {
	overflow: hidden;
}
.light{
    font-family: 'Open Sans Light' !important;
    font-weight: normal;
}
.dark{
    font-family: 'Open Sans Black' !important;
    font-weight: normal;
}
.text-center {
	text-align: center !important;
}
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.flt-left {
	float: left !important;
}
.flt-right {
	float: right !important;
}
.bg-black {
	background-color: #000000 !important;
}
.bg-white {
background-color: #ffffff !important;
}
.bg-lime {
background-color: #a4c400 !important;
}
.bg-green {
background-color: #60a917 !important;
}
.bg-activeGreen{
background-color: rgb(108, 195, 92) !important;
}
.bg-emerald {
background-color: #008a00 !important;
}
.bg-teal {
background-color: #00aba9 !important;
}
.bg-cyan {
background-color: #1ba1e2 !important;
}
.bg-cobalt {
background-color: #0050ef !important;
}
.bg-indigo {
background-color: #6a00ff !important;
}
.bg-violet {
background-color: #aa00ff !important;
}
.bg-pink {
background-color: #dc4fad !important;
}
.bg-magenta {
background-color: #d80073 !important;
}
.bg-crimson {
background-color: #a20025 !important;
}
.bg-red {
background-color: #e51400 !important;
}
.bg-orange {
background-color: #fa6800 !important;
}
.bg-amber {
background-color: #f0a30a !important;
}
.bg-yellow {
background-color: #e3c800 !important;
}
.bg-brown {
background-color: #825a2c !important;
}
.bg-olive {
background-color: #6d8764 !important;
}
.bg-steel {
background-color: #647687 !important;
}
.bg-mauve {
background-color: #76608a !important;
}
.bg-taupe {
background-color: #87794e !important;
}
.bg-gray {
background-color: #555555 !important;
}
.bg-dark {
background-color: #333333 !important;
}
.bg-darker {
background-color: #222222 !important;
}
.bg-transparent {
background-color: transparent !important;
}
.bg-darkBrown {
background-color: #63362f !important;
}
.bg-darkCrimson {
background-color: #640024 !important;
}
.bg-darkMagenta {
background-color: #81003c !important;
}
.bg-darkIndigo {
background-color: #4b0096 !important;
}
.bg-darkCyan {
background-color: #1b6eae !important;
}
.bg-darkCobalt {
background-color: #00356a !important;
}
.bg-darkTeal {
background-color: #004050 !important;
}
.bg-darkEmerald {
background-color: #003e00 !important;
}
.bg-darkGreen {
background-color: #128023 !important;
}
.bg-darkOrange {
background-color: #bf5a15 !important;
}
.bg-darkRed {
background-color: #9a1616 !important;
}
.bg-darkPink {
	background-color: #9a165a !important;
}
.bg-darkViolet {
	background-color: #57169a !important;
}
.bg-darkBlue {
	background-color: #16499a !important;
}
.bg-lightBlue {
	background-color: #4390df !important;
}
.bg-lighterBlue {
	background-color: #00ccff !important;
}
.bg-lightTeal {
	background-color: #45fffd !important;
}
.bg-lightOlive {
	background-color: #78aa1c !important;
}
.bg-lightOrange {
	background-color: #c29008 !important;
}
.bg-lightPink {
	background-color: #f472d0 !important;
}
.bg-grayDark {
	background-color: #333333 !important;
}
.bg-grayDarker {
	background-color: #222222 !important;
}
.bg-grayLight {
	background-color: #999999 !important;
}
.bg-grayLighter {
	background-color: #eeeeee !important;
}
.bg-lightRed {
	background-color: #FF2D19 !important;
}
.bg-lightGreen {
	background-color: #7AD61D !important;
}
.bg-globalColor{
	background-color: #1E8CBE !important;
}
.fg-globalColor{
	color: #1E8CBE !important;
}
.fg-black {
	color: #000000 !important;
}
.fg-white {
	color: #ffffff !important;
}
.fg-lime {
	color: #a4c400 !important;
}
.fg-green {
	color: #60a917 !important;
}
.fg-emerald {
	color: #008a00 !important;
}
.fg-teal {
	color: #00aba9 !important;
}
.fg-cyan {
color: #1ba1e2 !important;
}
.fg-cobalt {
color: #0050ef !important;
}
.fg-indigo {
color: #6a00ff !important;
}
.fg-violet {
color: #aa00ff !important;
}
.fg-pink {
color: #dc4fad !important;
}
.fg-magenta {
color: #d80073 !important;
}
.fg-crimson {
color: #a20025 !important;
}
.fg-red {
color: #e51400 !important;
}
.fg-orange {
color: #fa6800 !important;
}
.fg-amber {
color: #f0a30a !important;
}
.fg-yellow {
color: #e3c800 !important;
}
.fg-brown {
color: #825a2c !important;
}
.fg-olive {
color: #6d8764 !important;
}
.fg-steel {
color: #647687 !important;
}
.fg-mauve {
color: #76608a !important;
}
.fg-taupe {
color: #87794e !important;
}
.fg-gray {
color: #555555 !important;
}
.fg-dark {
color: #333333 !important;
}
.fg-darker {
color: #222222 !important;
}
.fg-transparent {
color: transparent !important;
}
.fg-darkBrown {
color: #63362f !important;
}
.fg-darkCrimson {
color: #640024 !important;
}
.fg-darkMagenta {
color: #81003c !important;
}
.fg-darkIndigo {
color: #4b0096 !important;
}
.fg-darkCyan {
color: #1b6eae !important;
}
.fg-darkCobalt {
color: #00356a !important;
}
.fg-darkTeal {
color: #004050 !important;
}
.fg-darkEmerald {
color: #003e00 !important;
}
.fg-darkGreen {
color: #128023 !important;
}
.fg-darkOrange {
color: #bf5a15 !important;
}
.fg-darkRed {
color: #9a1616 !important;
}
.fg-darkPink {
color: #9a165a !important;
}
.fg-darkViolet {
color: #57169a !important;
}
.fg-darkBlue {
color: #16499a !important;
}
.fg-lightBlue {
color: #4390df !important;
}
.fg-lighterBlue {
color: #00ccff !important;
}
.fg-lightTeal {
color: #45fffd !important;
}
.fg-lightOlive {
color: #78aa1c !important;
}
.fg-lightOrange {
color: #c29008 !important;
}
.fg-lightPink {
color: #f472d0 !important;
}
.fg-grayDark {
color: #333333 !important;
}
.fg-grayDarker {
color: #222222 !important;
}
.fg-grayLight {
color: #999999 !important;
}
.fg-grayLighter {
color: #eeeeee !important;
}
.fg-lightRed {
	color: #FF2D19 !important;
}
.fg-lightGreen {
	color: #7AD61D !important;
}
.fg-activeGreen{
	color: rgb(108, 195, 92) !important;
}
.global-color-black{
	background-color: #242424 !important;
}
.global-color-carbon{
	background-color: #292929 !important;
}
.global-color-blue{
	background-color: #48a5f3 !important;
}

.search-wrapper {
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
}

.featured-tags-title {
    padding-top: 10px !important;
    border-top: 1px solid rgba(0,0,0,0.05) !important;
    text-transform: uppercase;
    letter-spacing: 1.5px !important;
    font-family: 'Open Sans Bold' !important;
    font-size: 9pt !important;    
    margin: -1px 0 0 0 !important; 
}

.tag {
    font-size: 10pt;
    color: #333 !important;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    margin: 0 5px 7px 0;
	display: inline-block;
	transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
}

.selected-as-cover {
    box-shadow: 0px 0px 1px 4px #000 !important;
}
.pointer { cursor: pointer !important; }

.new-recipe-box {
	margin-top: 60px;
	height: 87vh;
	background: #fff;
	box-shadow: inset 0px -1px 7px 0px #555;
  	.recipe-title-input {
		// border-radius: 0px !important;
		border: 0px !important;
		border-bottom: 1px solid #eae9ed !important;
		font-size: 16px;
		padding-left: 5px !important;
	}
	.custom-table {
		table-layout: fixed;
		border-collapse: collapse;
		width: 100%;
		background: #fff !important;
		thead {
			th {
				background: #f5f5f5 !important;
			}
		}
		tbody {
			overflow: auto;              
			display: block;
			width: 650px;
			min-height: 50px !important;
			max-height: 155px;
		}		
	}
	.editable {
		height: 350px;
		width: 100%;
		border-bottom: 1px solid #eae9ed;
		border-top: 1px solid #eae9ed;
		outline: 0px;		
		padding: 5px 5px;		
		overflow: auto;
		font-size: 14px;
		ol {
			margin: 5px 0;
			padding-left: 15px;
			// counter-reset: step-counter;
			// list-style-type: none;
			// li {
			// 	counter-increment: step-counter;
			// 	margin-bottom: 15px;				      			
    		// 	margin-left: 26px;
    		// 	line-height: 25px;
			// 	min-height: 25px;				
			// }			
			// li::before {
			// 	content: counter(step-counter);
			// 	margin-right: 24px;
			// 	display: inline-block;
			// 	position: absolute;
			// 	left: 20px;
			// 	width: 25px;
			// 	height: 25px;
    		// 	line-height: 1.5;
			// 	text-align: center;
			// 	font-size: 80%;
			// 	background-color: #00c8c8;
			// 	color: white;
			// 	font-weight: bold;
			// 	padding: 3px 8px;
			// 	border-radius: 3px;
			// }
		}
	}		  	
	.editable[contenteditable=true]:empty:after {
		content: attr(data-placeholder);
		display: block; /* For Firefox */
		color: #ccc;
		font-style: normal;		
	}
	.editable[contenteditable=true]:empty:focus:after {
		// content: "";
		color: #333;
	}		
	.upload-video-box {
		margin-right: 20px;
		.card {
			height: 205px;
			display: block;
			.image {
				height: 100%;
				text-align:center;
				cursor: pointer;
				i{
					font-size: 70px;
					margin-top: 50%;
					color: #999;
				}
			}
			.image:hover {
				i {
					color: #555;
				}
			}
		}
    }
    .upload-photos-box {
        .placeholder-image-upload-box {
            cursor: pointer;
            margin: 0;
            width: 100%;
            height: 205px;
            .ui.small.image {
                text-align: center;
                display: block;
                margin: auto;
            }
        }
        .uploaded-image-list {
            
            .card {
                margin: 7px 1em !important; 
                
            }
        }
    }	
}

.remove-image-icon, .remove-video-icon {
    position: absolute;
    color: #fff;
    cursor: pointer !important;
    font-size: 20px;
    top: 3px;
    right: 0;
    z-index: 9999;
}

.feed-box {
	.left-pane {
        .ingredient-search-box {
            padding: 20px 20px 10px;
            .ingredient-search-filter {
                padding: 0px !important;
                border: 1px solid #eae9ed;
                background: #ffffff;
                border-radius: 4px;
                margin-top: 10px;
                height: 40px;
                .label1 {
                    font-size: 13px;
                    border-radius: 4px 0 0 4px !important;
                    display: block;
                    padding: 0 10px;
                    background-color: #f1f1f1;
                    line-height: 2.9;
                    box-shadow: 1px 0 1px -2px rgba(0, 0, 0, 0.9);
                    height: 100%;
                }
                .ing-search-input-div {
                    .ing-search-input {
                        background: transparent;
                        font-size: 14px;
                        outline: 0 !important;
                        border-radius: 0 4px 4px 0 !important;
                        border: 1px solid transparent;
                        float: left;
                        padding: 7px 7px 7px 7px;
                        margin-top: 3px;
                        font-family: 'Open Sans';
                        width: 183px;
                    }
                }
            }
        }        
        .ingredient-search-box.fixed {
            position: fixed !important;
            z-index: 9999 !important;
            background: #fff !important;
            box-shadow: 0px 0 7px -3px rgba(0, 0, 0, 0.9) !important;
            border: 1px solid rgba(0,0,0,0.1) !important;
            transform: translateZ(0);
            -webkit-transform: translateZ(0);
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            perspective: 1000;
            -webkit-perspective: 1000;            
        }
		.recipe-card-list {			
			padding: 10px 20px 20px;			
			.content {
				padding: 15px 10px 5px !important;
				.header {
					font-size: 16px !important;
				}
				.description {
					font-size: 12px !important;
					color: #333 !important;;					
				}
			}
			.extra {
                padding: 7px 10px !important;
                .rating-span {
                    i {
                        text-shadow: 0 -1px 0 #ddc507,-1px 0 0 #ddc507,0 1px 0 #ddc507,1px 0 0 #ddc507!important;
                        color: #ffe623!important;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
			}
			.extra ~ .extra {
				.spice-box {
					i {
						margin: 0 !important;
						color: $spiciness-level-color;
					}
				}
			}
		}
	}
	.right-pane-fixed {						
		background-color: #FbFbFb;
		box-shadow: -1px 0 1px -2px rgba(0,0,0,0.9);
        padding-top: 10px;        
        .featured-recipes {
            ul {
                list-style-type: none;
                padding: 0px;
                margin: 0;
                li {
                    display: block;
                    width: auto;
                    padding: 10px 0 15px;
                    border-bottom: 1px solid rgba(0,0,0,0.05);
                    cursor: pointer;
                    .round-count {
                        float: left;
                        width: 40px;
                        height: 40px;
                        line-height: 1;
                        background-color: rgba(255,255,255,0.97);
                        border: 1px solid rgba(0,0,0,0.05);
                        border-radius: 100%;
                        color: rgba(0,0,0,0.44);
                        overflow: hidden;
                        span {
                            text-align: center;
                            display: block;
                            line-height: 39px;
                        }
                    }
                    .desc {
                        float: none;
                        display: block;
                        margin-left: 65px;
                        .recipe-title {
                            letter-spacing: -0.02em;
                            font-style: normal;
                            color: rgba(0,0,0,0.8);
                            font-size: 14px;
                            font-weight: 400;
                            max-width: 96%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            a {
                                color: inherit !important;
                            }
                            a:hover {
                                text-decoration: underline !important;
                            }
                        }
                        .recipe-user {
                            font-size: 14px;
                            margin-right: 20px;
                            margin-bottom: 0;
                            color: rgba(0,0,0,0.3);
                            a {
                                color: inherit !important;
                            }
                            a:hover {
                                text-decoration: underline !important;
                            }
                        }
                    }
                }
            }
        }		
	}
}

.sidebarwrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
    display: none;
    z-index: 999;
    .sidebar {
        position: absolute;
        margin-top: 50px;
        left: -100%;
        width: 100%;
        ul {
            list-style-type: none !important;
            margin: 0 !important;
            padding: 0px !important;
            li {
                display: block;
                width: 100%;
                border-bottom: 1px solid rgba(235,235,235,0.2);
                a {
                    display: block;
                    padding: 15px;
                    color: rgba(201, 212, 246, 0.86) !important;
                    white-space: nowrap;
                    font-size: 18px;
                    i {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.male-gender-selected {
    background: #1ba1e2 !important;
    color: #ffffff !important;
}
.female-gender-selected {
    background: #FF69B4 !important;
    color: #fff !important;
}
.ui.dropdown .menu .active.item { font-family: 'Open Sans Bold' !important; }
.spiciness-rate-box {
    float: left;
    padding-top: 10px;
    input { 
        display: none; 
    } 		
    label {
        color: #ddd;
        float: right;	
        cursor: pointer;		
    }
    label:before {
        margin: 0 5px;
        font-size: 24px;			
        display: inline-block;
        font-family: Icons;
        content: "\f06d";		
    }		
}
.spiciness-rate-box > input:checked ~ label, /* show gold star when clicked */
.spiciness-rate-box:not(:checked) > label:hover, /* hover current star */
.spiciness-rate-box:not(:checked) > label:hover ~ label { color: rgb(247, 81, 81);  } /* hover previous stars in list */

.spiciness-rate-box > input:checked + label:hover, /* hover current star when changing spiciness-rate-box */
.spiciness-rate-box > input:checked ~ label:hover,
.spiciness-rate-box > label:hover ~ input:checked ~ label, /* lighten current selection */
.spiciness-rate-box > input:checked ~ label:hover ~ label { color: rgb(241, 33, 33);  } 
/**
MEDIA QUERIES
**/

.show-for-mobile { display: none !important;}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .show-for-mobile { display: none !important;}
}

/*--- Mobile portrait ---*/
@media only screen and (min-width : 0px) and (max-width : 480px) {
    .hidden-for-mobile { display: none !important; }
    .hidden-for-mobile-and-tablet { display: none !important; }
    .show-for-mobile { display: block !important;}
	.recipe-item { 
		width: calc(50% - 1em) !important;
		margin-left: 9px !important; 
		margin-right: 0px !important;
    }
    .login-panel {
        margin: 10px;
    }
    .search-dropdown { left: 0;}
}

/*--- Mobile landscape ---*/
@media only screen and (min-width : 480px) and (max-width : 640px) {
    .show-for-mobile { display: none !important;}
    .hidden-for-mobile-and-tablet { display: none !important; }
    .search-dropdown { left: 0;}
}

/*--- Tablet portrait ---*/
@media only screen and (min-width : 640px) and (max-width : 800px) {
    .hidden-for-mobile-and-tablet { display: none !important; }
    .show-for-mobile { display: none !important;}
}

/*--- Tablet portrait iPad Mini--- */
@media only screen and (min-width : 769px) and (max-width : 1024px) {
    .hidden-for-mobile-and-tablet { display: none !important; }
    .show-for-mobile { display: none !important;}
}

/*--- Tablet landscape --- */
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    .hidden-for-mobile-and-tablet { display: none !important; }
    .show-for-mobile { display: none !important;}
}