<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What's Cooking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/fontawesome-all.css" />
    <link rel="stylesheet" href="bower_components/medium-editor/dist/css/medium-editor.css" />
    <link rel="stylesheet" href="bower_components/medium-editor/dist/css/themes/default.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="styles/grids-min.css">
    <link rel="stylesheet" href="styles/grids-responsive-min.css">    
    <!-- endbuild -->
  </head>
  <body ng-app="whatsCookingApp" ng-class="{'login-bg': !isLoggedIn}">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="pure-g" ng-if="isLoggedIn">
      <div class="pure-u-1 headbar bg-dark" ng-controller="NavbarCtrl">
          <div class="pure-g">
              	<div class="pure-u-1 pure-u-md-1-6 hidden-for-mobile">
					<a href="/#!/"><h2 class="fg-white pointer" style="outline: 0;font-weight: 300;">What's Cooking</h2></a>
                </div>
                <!-- <i class="bars icon large show-for-mobile fg-white floated left toggle-sidemenu-btn"></i> -->
                <span class="bubble-mobile"></span>
                <a href="javascript:;" class="toggle-sidebar nav-toggle flt-left show-for-mobile" aria-expanded="false">
                    <span></span>
                </a>
              	<div class="pure-u-3-4 pure-u-md-1-2">
					<div class="ui left icon fluid input global-search-div">
                        <i class="search icon"></i>
                        <input type="text" class="global-search" placeholder="Search" style="padding: 7px;margin-top: 3px;" />                        
                    </div>                    
                    <div class="pure-u-1 pure-u-md-1-2 search-dropdown">                            
                        <div ng-if="quickSearchResults.length == 0 && quickSearchResults!==''" class="item flt-left">
                            <div class="text-center" style="padding: 15px;">Sorry! Nothing to show :(</div>
                        </div>
                        <div ng-if="quickSearchResults.length > 0" class="item flt-left" ng-repeat="item in quickSearchResults">  
                            <a href="/#!/recipe/{{item.srno}}">
                                <div class="flt-left round hidden-for-mobile" style="background:url('{{apiurl}}/userdata/{{item.uid}}/{{item.cover_imagepath}}') no-repeat center;"></div>
                                <div class="flt-left desc">
                                    <div class="margin0">{{item.title}}</div>  
                                    <div class="ui star rating" data-rating="{{item.rating}}"></div>                                           
                                </div>
                            </a>
                        </div>                        
                        <div class="pure-u-1 pure-u-md-1-2 search-all">
                            <i class="fa fa-search"></i>
                            Search all
                        </div>
                    </div>                                                              
                </div>                            
                <i class="filter icon large fg-white toggle-search-btn mobile-btn pointer show-for-mobile"></i>
				<div class="pure-u-1 pure-u-md-1-5 icon-group hidden-for-mobile-and-tablet">						                            
					<div class="ui icon top right pointing dropdown cuisine-nav-dropdown">
						<i class="fa fa-th fg-white c-dropdown-toggle-icon"></i>
						<div class="menu" style="margin-top: 0;top: 50px;min-width: 300px;max-height: 400px;overflow:auto;">                            			
                            <div class="item flt-left" ng-repeat="item in listOfCuisines" style="height: 80px;width: 100%;">                                

                                    <!-- url('{{apiurl}}/assets/images/cuisine_photos/{{item.imagepath}}') no-repeat center-->
                                <div class="flt-left" style="display: block;overflow:hidden;height: 100%;width: 30%;background: url('{{apiurl}}/assets/images/cuisine_photos/{{item.imagepath}}') no-repeat center;background-size:cover;"></div>
                                <div class="flt-left" style="padding-left: 10px;">
                                    <h3 class="light margin0"><a href="/#!/category/{{item.name}}/{{item.value}}" class="light fg-black">{{item.name}}</a></h3>
                                    <small class="fg-gray bold">{{item.count}} <span ng-if="item.count == 1">recipe</span> <span ng-if="item.count >=0 && item.count != 1">recipes</span></small>                                    
                                    <button ng-if="item.uid == null" class="ui primary basic tiny button update-cuisine-btn followed" data-cid="{{item.value}}" style="position: absolute;right: 10px;">Follow</button>
                                    <button ng-if="userProfile.userid == item.uid" class="ui primary basic tiny button update-cuisine-btn" data-cid="{{item.value}}" style="position: absolute;right: 10px;">Unfollow</button>
                                </div>
                            </div>                           
						</div>
					</div>
					<div class="ui icon top right pointing dropdown favourites-user-dropdown">
						<i class="fa fa-heart fg-white"></i>
						<div class="menu" style="min-width: 300px;max-height: 400px;overflow:auto;">
                            <div class="item flt-left" ng-if="favourites.length == 0">
                                <p class="text-center">No favourites to show</p>
                            </div>
							<div ng-if="favourites.length > 0" class="item flt-left" ng-repeat="item in favourites track by $index" style="height: 65px;width: 100%;padding: 5px 1.14285714rem!important;">                                
                                    <!-- url('{{apiurl}}/assets/images/cuisine_photos/{{item.imagepath}}') no-repeat center-->
                                <div class="flt-left" style="display: block;overflow:hidden;height: 100%;width: 20%;border-radius:50%;background:url('{{apiurl}}/userdata/{{item.recipe_owner_id}}/{{item.cover_imagepath}}') no-repeat center;background-size:cover;"></div>
                                <div class="flt-left" style="padding-left: 10px;">
                                    <h3 class="light margin0">{{item.title}}</h3>
                                    <small class="fg-gray bold">{{item.fullname}}</small>
                                    <!-- <button class="ui primary basic tiny button" style="position: absolute;right: 10px;"></button> -->
                                    <i class="icon heart pointer added fg-red nav-menu-fav" style="position: absolute;right: 0px;top: 10px;" ng-click="addToFavourites(item.srno, $event)"></i>                                    
                                </div>
                            </div>
						</div>
					</div>
					<div class="ui icon top right pointing dropdown notification-nav-dropdown">
						<i class="fa fa-bell fg-white"></i>
						<div class="menu">
							<div class="item">Comfortable</div>
							<div class="item">Cozy</div>
							<div class="item">Compact</div>
						</div>
					</div>										
				</div>
				<div class="pure-u-1 pure-u-md-1-8 hidden-for-mobile-and-tablet">					
					<div class="ui floating top left pointing dropdown flt-right headbar-user-dropdown" style="padding: 8.5px 15px;">
						<div class="fg-white">							
							<p class="fg-white" style="font-size: 15px;font-weight: 700;letter-spacing: 1px;">{{userProfile.fname}}</p>
						</div>						
						<div class="menu">
							<div ng-if="showRecipeBox" class="item" ng-click="toggleNewRecipeBox(1)">
								<i class="icon pencil alternate"></i>Write new recipe
							</div>
							<div class="item">
								<i class="icon star"></i>Favourites
							</div>
							<div class="ui divider"></div>
							<div class="item">
                                <a class="fg-black block" href="/#!/user/{{userProfile.username}}">
                                    <i class="icon user"></i>Profile
                                </a>
							</div>
							<div class="item">
                                <a class="fg-black block" href="/#!/settings">
                                    <i class="icon cogs"></i>Account Preferences
                                </a>
                            </div>
							<div class="item" ng-click="logout()">
								<i class="icon sign out alternate"></i>Sign out
							</div>
						</div>
					</div>
				</div>
          </div>
      </div>
    </div>
    <div class="search-wrapper"></div>
    <div class="sidebarwrapper">
        <div class="sidebar">
            <div class="pure-g">
                <div class="pure-u-3-4" style="background: #000;">
                    <ul>
                        <li>
                            <a href="/#!/login">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div ng-view=""></div>
    </div>            
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/semantic/dist/semantic.js"></script>
    <script src="bower_components/medium-editor/dist/js/medium-editor.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/constants/apiconfig.js"></script>
        <script src="scripts/services/authenticationservice.js"></script>
        <script src="scripts/services/settingservice.js"></script>
        <script src="scripts/services/utilservice.js"></script>
        <script src="scripts/services/recipeservice.js"></script>
        <script src="scripts/services/searchservice.js"></script>
        <script src="scripts/controllers/recipe.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/controllers/settings.js"></script>
        <script src="scripts/services/userservice.js"></script>
        <script src="scripts/controllers/category.js"></script>
        <!-- endbuild -->
</body>
</html>
