<div class="pure-u-1 pure-u-md-1 loader-bg" style="right:0;display: none;">
    <div>
        <img src="images/loader.1.gif" alt="" style="height: 170px;">
        <!-- <i class="fa fa-circle-notch fa-pulse fg-gray fa-spin" style="font-size: 25px;width:25px;height:25px;"></i> -->
    </div>
</div>
<div class="pure-g" style="margin-top: 55px;">    
    <div class="pure-u-1 pure-u-md-3-4" style="margin-top: 20px;padding: 0 10px;">
        <div class="pure-u-md-1-5"></div>
        <div class="pure-u-md-3-5">
            <p class="margin0 fg-grayLight"><small>recipes in</small></p>
            <h3 class="light" style="margin:0;font-size: 18pt;line-height: 28pt;">{{cname}} cuisine</h3>                            
        </div>        
    </div>
    <div class="pure-u-1 pure-u-md-1-4"></div>    
</div>
<!-- <div class="ui divider" style="margin: 10px 0;"></div> -->
<div class="pure-g category-page">
    <div class="pure-u-1 pure-u-md-3-4 left-pane">
        <h3 ng-if="recipes.length == 0" class="fg-grayLight light text-center block" style="font-size: 20pt;padding: 20px;">No recipes found</h3>
        <div ng-if="recipes.length > 0" class="ui four doubling cards recipe-card-list" style="position: relative;">
            <div class="card recipe-item" ng-repeat="item in recipes track by $index">                
				<a class="ui top attached label recipe-card-menu" style="background-color: #e8e8e861;">
					<b class="bold">{{item.cname}}</b>
					<span class="right floated bold">{{item.cooking_time}}</span>
                </a>
                <div class="ui top attached label recipe-card-hover-menu" style="display:none;background-color: #333;">
                    <!-- <label class="fg-white light left floated" style="font-size: 13px;margin-top:-2px;">Favourites <i class="icon heart pointer"></i></label> -->
                    <span class="right floated" style="font-size: 17px;margin-top:-4px;"><i class="icon ellipsis vertical fg-white pointer text-right"></i></span>
                </div>
				<div class="ui image" style="margin-top: 2em;height: 160px;overflow:hidden;">                    
					<img ng-if="item.cover_imagepath == ''" src="images/wireframe_image.png" />
					<img ng-if="item.cover_imagepath != ''" src="http://192.168.1.2/whats-cooking-api/{{item.cover_imagepath}}" />
				</div>
				<div class="content">
					<div class="header">
                        <div style="width: 90%;" class="left floated"><a href="/#!/recipe/{{item.recipe_id}}" class="fg-gray">{{item.title}}</a></div> 
                        <i ng-if="item.addedToFavourites" class="icon heart right floated pointer added fg-red" style="width: 7%;" ng-click="addToFavourites(item.recipe_id, $event)"></i>
                        <i ng-if="!item.addedToFavourites" class="icon heart outline right floated pointer" style="width: 7%;" ng-click="addToFavourites(item.recipe_id, $event)"></i>
                    </div>
					<div class="meta"><a href="/#!/user/{{item.username}}"><small>{{item.fullname}}</small></a></div>
					<div class="description">
						<p>{{item.description}}</p>
					</div>
				</div>
				<div class="extra content">
                    <span class="left floated rating-span">
                        <small ng-if="item.rating == 0">No ratings</small>
                        <i ng-if="item.rating != 0" class="icon star yellow" ng-repeat="n in [] | range: item.rating"></i>                        
                    </span>					
					<span class="right floated" ng-if="item.food_group == 100">                        
						<span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>						
                    </span>
					<span class="right floated" ng-if="item.food_group == 010">                        
						<span style="font-size: 12px;font-family: sans-serif !important;color:red;border: 1px solid red;padding: 0 3px;">&#9679;</span>						
                    </span>
					<span class="right floated" ng-if="item.food_group == 001">                        
                            <span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>
                    </span>                    					
					<span class="right floated" ng-if="item.food_group == 101">                        
                        <span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>						
                        <span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>
                    </span>                    					
				</div>
				<div class="extra content">
					<span class="spice-box left floated">
						<i class="fire icon" ng-repeat="n in [] | range: item.spicy"></i>						
					</span>
					<span class="right floated">
						<i class="fa fa-utensils" style="padding-right: 7px;"></i> {{item.servings}}
					</span>
                </div>
                <div class="extra content stats">
                    <div class="text-left">
                        <i ng-class="{'upvoted': item.isUpvoted}" class="chevron up icon pointer" style="outline: none;" ng-click="upvoteRecipe(item.recipe_id, $event)"></i> {{item.upvotes}}						
                    </div>
                    <div class="text-center">
                        <i class="comment icon"></i> {{item.replies}}
                    </div>
                    <div class="text-right">
                        <i class="eye icon"></i> {{item.views}}
                    </div>					
				</div>
			</div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 right-pane-fixed hidden-for-mobile-and-tablet">
		<div style="padding: 15px 0 20px 20px;">
			<p class="featured-tags-title">related tags</p>
		</div>
		<div style="padding: 0px 20px;">
			<a href="#" class="tag" ng-repeat="item in tags | limitTo: 15">{{item.name}}</a>
        </div>
    </div>
</div>