<div class="pure-g feed-box" style="margin-top: 50px;">            
	<div class="pure-u-1 pure-u-md-1 left-pane">        
        <div class="pure-u-1 ingredient-search-box">
            <p class="light text-left" style="font-size: 20px;margin:0;">What's in your refrigarator?</p>
            <small>Add upto 3 ingredients and you know what's on the plate</small>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-5 keyword-box" style="margin-top: 10px;padding-right: 10px;">
                    <div class="ui fluid input" style="height: 40px;">
                        <input type="text" name="searchkeyword" ng-model="searchKeyword" placeholder="Keyword">
                    </div>
                </div>
                <div class="ingredient-search-filter pure-u-1 pure-u-md-3-5">                    
                    <div class="pure-u-1">
                        <div class="ing-search-input-div">
                            <input type="text" class="ing-search-input" autofocus="false" placeholder="ingredients" autocomplete="off">
                            <input type="hidden" name="ingsearchlist" class="ing-search-hdn-input" data-cnt="0">
                        </div>
                    </div>                                                                
                </div>     
                <div class="pure-u-1 pure-u-md-1-6 text-center search-btn-box" style="padding: 11px 0 0 19px;">
                    <button class="ui button fluid blue">Search</button>
                </div>
            </div>                   
        </div>        
        <div class="ui divider"></div> 
        <div class="pure-u-1 ingredient-search-results-div">
            <div class="pure-u-1 pure-u-md-1 loader-bg" style="display: none;">
                <div style="margin-top: 20%;">
                    <img src="images/loader.1.gif" alt="Loading" style="height: 170px;">
                    <!-- <i class="fa fa-circle-notch fa-pulse fg-gray fa-spin" style="font-size: 25px;width:25px;height:25px;"></i> -->
                </div>
            </div>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-19-24" style="padding-left: 20px;">
                    <div class="pure-u-1 ing-search-results-item bg-white">
                        <div class="pure-g" style="box-shadow: 0px 0px 4px #eae9ed;">
                            <div class="pure-u-1 pure-u-md-1-3" style="box-shadow: 1px 0px 0px #eae9ed;">
                                <!-- <div class="ui image r-card-image" style="height: 200px;overflow: hidden;width: 100%;">                        
                                    <img src="images/wireframe_image.png" data-src="images/wireframe_image.png" />
                                    <img style="height: 100%;width:100%;" data-src="{{apiurl}}/{{item.cover_imagepath}}" src="images/wireframe_image.png" />
                                </div> -->
                                <div class="pure-u-1 thumbnail-video" style="background: rgba(0,0,0,0.8);height:100%;width: 100%;">
                                    <video ng-cloak ng-src="{{apiurl}}/userdata/5/7920301521330897.mp4" width="100%" height="100%" controls controlsList="nodownload"></video>
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-2-3" style="padding: 10px 10px 10px 15px;">
                                <div class="pure-g">
                                    <div class="pure-u-1">
                                        <h3 style="font-weight: 300;margin:0;">
                                            Puneri misal pav                                    
                                        </h3>               
                                    </div>
                                    <div class="pure-u-3-8" style="border-bottom: 1px solid #eae9ed;">                                    
                                        <small style="font-size: 10px;">
                                            <i>
                                                <a href="javascript:;" class="fg-gray">by Nikita Gokhale</a>
                                            </i>.
                                            <a href="javascript:;" class="fg-gray">Indian</a>
                                        </small>            
                                    </div>
                                    <div class="pure-u-3-5 text-center" style="border-bottom: 1px solid #eae9ed;">
                                        List of ingredients
                                    </div>
                                </div>
                                <div class="pure-u-1">
                                    <div class="pure-u-1 pure-u-md-3-8 r-card-stats">
                                        <div class="pure-g text-left block" style="padding: 10px 0;">
                                            <div class="pure-u-1 pure-u-md-1-2">
                                                <i class="fab fa-hotjar fg-red" style="margin-left: 2px;"></i>
                                                <i class="fab fa-hotjar fg-red" style="margin-left: 2px;"></i>
                                                <i class="fab fa-hotjar fg-red" style="margin-left: 2px;"></i>
                                                <i class="fab fa-hotjar fg-red" style="margin-left: 2px;"></i>
                                                <i class="fab fa-hotjar fg-red" style="margin-left: 2px;"></i>
                                            </div>
                                            <div class="pure-u-1 pure-u-md-1-2">
                                                <i class="icon star yellow" style="margin-right: .05em"></i>
                                                <i class="icon star yellow" style="margin-right: .05em"></i>
                                                <i class="icon star yellow" style="margin-right: .05em"></i>
                                                <i class="icon star yellow" style="margin-right: .05em"></i>
                                                <i class="icon star yellow" style="margin-right: .05em"></i>
                                                
                                            </div>
                                        </div>
                                        <ul style="margin:0;padding:5px 0;" class="pure-g text-center">
                                            <li class="pure-u-1-4">
                                                <i class="fa fa-cut" style="font-size: 15px;"></i><br>
                                                <h4 class="light" style="margin-top: 0px;">20m</h4>
                                            </li>
                                            <li class="pure-u-1-4">
                                                <i class="icon alarm clock" style="font-size: 15px;"></i><br>
                                                <h4 class="light" style="margin-top: 0px;">1h</h4>
                                            </li>
                                            <li class="pure-u-1-4">
                                                <i class="icon heartbeat" style="font-size: 15px;"></i><br>
                                                <h4 class="light" style="margin-top: 0px;">275</h4>
                                            </li>
                                            <li class="pure-u-1-4">
                                                <i class="fa fa-utensils" style="font-size: 15px;"></i><br>
                                                <h4 class="light" style="margin-top: 0px;">4</h4>
                                            </li>
                                        </ul>  
                                        <div class="pure-g extra content stats" style="padding: 10px 15px;">
                                            <div class="pure-u-1-3 text-left">                            
                                                <span style="outline:0;" ng-class="{'upvoted': item.isUpvoted}" class="pointer" ng-click="upvoteRecipe(item.recipe_id, $event)">
                                                    <img src="images/chef_blank.png" style="margin-top: -3px;" /> 
                                                    <span class="fg-gray">78</span>
                                                </span> 
                                            </div>
                                            <div class="pure-u-1-3 text-center">
                                                <i class="comment icon fg-gray"></i> 99
                                            </div>
                                            <div class="pure-u-1-3 text-right">
                                                <i class="eye icon fg-gray"></i> 167
                                            </div>
                                        </div>        
                                        <div class="pure-g" style="padding: 5px 15px 0;">
                                            <div class="pure-u-1 pure-u-md-1-4">
                                                <span class="food-group-icon veg-icon" style="margin-right: 5px;">&#9679;</span>
                                            </div>
                                            <div class="pure-u-1 pure-u-md-3-4 text-right" style="padding-top: 3px;">
                                                <i class="icon heart right floated pointer added fg-red" style="font-size: 18px;"></i> 
                                                <span class="fg-gray">Add to favourites</span>
                                            </div>
                                        </div>              
                                    </div>
                                    <div class="pure-u-1 pure-u-md-3-5">
                                        <div class="pure-u-1 ing-list-desc" style="padding: 10px 0 0 10px;height: 200px;overflow: auto;">
                                            <ol style="margin: 0;">
                                                <li>1 cup sprouts</li>
                                                <li>1 cup sprouts</li>
                                                <li>1 cup sprouts</li>
                                                <li>1 cup sprouts</li>
                                                <li>1 cup sprouts</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>            
        </div>      
    </div>
</div>