<div class="pure-g new-recipe-box" style="display: none;">
	<div class="pure-u-1 pure-u-md-13-24">
		<div style="padding: 10px 20px;">
			<!-- <p style="font-size: 23px;font-weight: 300;">Let everybody know what's cooking.</p>			 -->
			<div class="ui fluid input">
				<input type="text" required ng-model="title" placeholder="Title" class="recipe-title-input" />
			</div>
			<table class="ui small table custom-table">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>Name</th>
						<th style="padding-left: 60px;">Notes</th>
						<th><i class="cart plus icon large" ng-click="addItem()" style="cursor: pointer;margin-right: -2px;float:right;color: #000;"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in listOfIngredients">
						<td style="width: 26%;"><div class="ui fluid input"><input type="text" ng-model="item.qty" id="input-qty{{$index}}" class="input-qty"></div></td>
						<td style="width: 35%;"><div class="ui fluid input"><input type="text" ng-model="item.name" ng-required><div></td>
						<td style="width: 45%;"><div class="ui fluid input"><input type="text" ng-model="item.notes" ng-required ng-keydown="$event.keyCode === 13 && addItem()"></div></td>
						<td style="width: 5%;">
							<i class="remove icon" ng-click="removeItem($index)" style="text-align: left;cursor: pointer"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<textarea class="editable" data-placeholder="How to make it"></textarea>
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-11-24" style="padding: 10px 15px;">
		<p class="text-center">
			<button class="ui blue basic button flt-left pure-u-md-1-5">PREVIEW</button>
			<button class="ui green button pure-u-md-1-2 post-recipe-btn">POST</button>
			<button class="ui button flt-right pure-u-md-1-5" ng-click="toggleNewRecipeBox(0)">CANCEL</button>
		</p>
		<form class="ui form">
			<div class="three fields">
				<div class="field">
				  	<label>Cuisines</label>
				  	<select required class="ui fluid search selection dropdown cuisine-dropdown">
						<option value="">Cuisines</option>

					</select>
				</div>
				<div class="field">
					<label>Type</label>
					<select name="food-group" required ng-model="foodGrpVal" multiple="" class="ui fluid dropdown food-group-dropdown">
						<option value="">Food Group</option>
						<option value="v">Vegetarian</option>
						<option value="n">Non Vegetarian</option>
						<option value="ve">Vegan</option>
					</select>
				</div>
				<div class="field">
					<label>Spiceness</label>
					<div class="spiciness-rate-box">
						<input type="radio" id="spicy5" ng-model="spiciness" name="spiciness" value="5"><label class="full" for="spicy5" title="Extremely spicy"></label>
						<input type="radio" id="spicy4" ng-model="spiciness" name="spiciness" value="4"><label class="full" for="spicy4" title="Very spicy"></label>
						<input type="radio" id="spicy3" ng-model="spiciness" name="spiciness" value="3"><label class="full" for="spicy3" title="Medium"></label>
						<input type="radio" id="spicy2" ng-model="spiciness" name="spiciness" value="2"><label class="full" for="spicy2" title="Little spicy"></label>
						<input type="radio" id="spicy1" ng-model="spiciness" name="spiciness" value="1"><label class="full" for="spicy1" title="No spicy"></label>
					</div>
				</div>
			</div>
			<div class="four fields">
				<div class="field">
					<label>Prepartion Time</label>
					<div class="ui input">
						<input type="text" required ng-model="prepTime" placeholder="25 mins" />
					</div>
				</div>
				<div class="field">
					<label>Cooking Time</label>
					<div class="ui input">
						<input type="text" required ng-model="cookingTime" placeholder="1 hr 25 mins" />
					</div>
				</div>
				<div class="field">
					<label>Calorie count</label>
					<div class="ui input">
						<input type="text" required ng-model="calorieCount" placeholder="200 cal" />
					</div>
				</div>
				<div class="field">
					<label>No. of servings</label>
					<div class="ui input">
						<input type="text" required ng-model="noOfServings" placeholder="4">
					</div>
				</div>
			</div>
			<div class="ui fluid multiple search selection dropdown tags-dropdown" style="margin-top: 20px;">
				<input type="hidden" class="tags-hdn-input" name="tags" value="">
				<i class="dropdown icon"></i>
				<input class="search">
				<div class="default text">Tags</div>
				<div class="menu">

				</div>
			</div>
			<div class="pure-u-1" style="padding-top: 20px;">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-3 upload-video-box">
                        <div class="ui black card video-preview-box" style="display: none;margin:0;">
                            <div class="video" style="height: 100%;">
                                <i class="icon close remove-video-icon fg-black" data-name="{{uploadedVideo}}"></i>
                                <video src="http://192.168.1.2/whats-cooking-api/{{uploadedVideo}}" style="height: 100%;width:188.55px;display: block !important;"></video>
                            </div>
                        </div>
                        <div class="ui black card video-select-box"                             
                            ngf-select="uploadVideo($file)"
                            ngf-drop="uploadVideo($file)"
                            ngf-drag-over-class="'dragover'"
                            ngf-multiple="false"                                                        
                            ngf-max-files="1"     
                            style="margin-top: 0;"                       
                        >
							<div class="image">
								<i class="play circle outline icon"></i>
							</div>
						</div>
					</div>
					<div class="pure-u-1 pure-u-md-5-8 upload-photos-box">
                        <div class="ui card placeholder-image-upload-box"
                             ngf-select="uploadFiles($files)"
                             ngf-drop="uploadFiles($files)"
                             ngf-drag-over-class="'dragover'"
                             ngf-multiple="true"
                             ngf-pattern="'image/*'"
                             ngf-max-files="{{imagesAccepted - imagesUploaded}}"                             
                             ng-hide="imagesUploaded > 0"
                        >
                            <div class="ui small image">
                                <img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
                                <p class="text-center">Upload upto 6 images</p>
							</div>
                        </div>
						<div class="ui three cards uploaded-image-list" ng-show="imagesUploaded > 0" style="padding-top: 7px;">
							<div class="black card" ng-repeat="item in uploadedFilesList" style="cursor: pointer;height: 97.3px;float:left !important;">
								<div class="image" style="height: 97.3px;">
                                    <i class="icon close remove-image-icon" data-name="{{item}}"></i>
                                    <img src="http://192.168.1.2/whats-cooking-api/{{item}}" class="uploaded-image-card" data-name="{{item.split('/')[2]}}" style="height: 100%;">									                                    
								</div>
                            </div>	                                                     	
                            <div class="black card placeholder-image-upload-box-1"
                                ngf-select="uploadFiles($files)"
                                ngf-drop="uploadFiles($files)"
                                ngf-drag-over-class="'dragover'"
                                ngf-multiple="true"
                                ngf-pattern="'image/*'"
                                ngf-max-files="{{imagesAccepted - imagesUploaded}}"
                                ng-hide="imagesUploaded == 6"
                                style="max-height: 97.3px;float:left !important;cursor: pointer;"
                            >  
                            <div style="height: 70px;text-align:center;">
                                <img src="https://semantic-ui.com/images/wireframe/white-image.png" style="max-height: 100%;height: auto;">
                            </div>                                                     
                            <small class="text-center">can add {{imagesAccepted - imagesUploaded}} more</small>
                            </div>
						</div>						
					</div>
				</div>
			</div>
			<div class="ui fluid input" style="padding-top: 10px;">
				<input type="text" ng-model="recipeDescription" maxlength="200" placeholder="Describe your recipe in few words" />
			</div>
		</form>
	</div>
</div>
<div class="pure-g feed-box" style="margin-top: 50px;">            
	<div class="pure-u-1 pure-u-md-3-4 left-pane">        
        <div class="pure-u-1 ingredient-search-box">
            <p class="light text-left" style="font-size: 20px;margin:0;">What's in your refrigarator?</p>
            <small>Add upto 3 ingredients and you know what's on the plate</small>
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-3" style="margin-top: 10px;padding-right: 10px;">
                    <div class="ui fluid input" style="height: 40px;">
                        <input type="text" name="searchkeyword" ng-model="searchKeyword" placeholder="Keyword">
                    </div>
                </div>
                <div class="ingredient-search-filter pure-u-1 pure-u-md-1-2">                    
                    <div class="pure-u-1">
                        <div class="ing-search-input-div">
                            <input type="text" class="ing-search-input" placeholder="ingredients" autocomplete="off">
                            <input type="hidden" name="ingsearchlist" class="ing-search-hdn-input" data-cnt="0">
                        </div>
                    </div>                                                                
                </div>     
                <div class="pure-u-1 pure-u-md-1-6 text-center" style="padding: 11px 0 0 19px;">
                    <button class="ui button fluid blue">Search</button>
                </div>
            </div>                   
        </div>        
        <div class="ui divider"></div>        
		<div class="ui four doubling cards recipe-card-list" style="position: relative;">            
            <div class="pure-u-1 pure-u-md-1 loader-bg" style="display: none;">
                <div style="margin-top: 5%;">
                    <img src="images/loader.1.gif" alt="Loading" style="height: 170px;">
                    <!-- <i class="fa fa-circle-notch fa-pulse fg-gray fa-spin" style="font-size: 25px;width:25px;height:25px;"></i> -->
                </div>
            </div>
			<div class="card recipe-item" ng-repeat="item in recipes track by $index">                
				<a class="ui top attached label recipe-card-menu" style="background-color: #e8e8e861;">
					<b class="bold">{{item.cname}}</b>
					<span class="right floated bold">{{item.cooking_time}}</span>
                </a>
                <div class="ui top attached label recipe-card-hover-menu" style="display:none;background-color: #333;">
                    <!-- <label class="fg-white light left floated" style="font-size: 13px;margin-top:-2px;">Favourites <i class="icon heart pointer"></i></label> -->
                    <span class="right floated" style="font-size: 17px;margin-top:-4px;"><i class="icon ellipsis vertical fg-white pointer text-right"></i></span>
                </div>
				<div class="ui image" style="margin-top: 2em;height: 160px;overflow:hidden;">                    
					<img ng-if="item.cover_imagepath == ''" src="images/wireframe_image.png" />
					<img style="height: 100%;" ng-if="item.cover_imagepath != ''" src="http://192.168.1.2/whats-cooking-api/{{item.cover_imagepath}}" />
				</div>
				<div class="content">
					<div class="header">
                        <div style="width: 90%;" class="left floated"><a href="/#!/recipe/{{item.recipe_id}}" class="fg-gray">{{item.title}}</a></div> 
                        <i ng-if="item.addedToFavourites" class="icon heart right floated pointer added fg-red" style="width: 7%;" ng-click="addToFavourites(item.recipe_id, $event)"></i>
                        <i ng-if="!item.addedToFavourites" class="icon heart outline right floated pointer" style="width: 7%;" ng-click="addToFavourites(item.recipe_id, $event)"></i>
                    </div>
					<div class="meta"><a href="/#!/user/{{item.username}}"><small>{{item.fullname}}</small></a></div>
					<div class="description">
						<p>{{item.description.substring(0, 100)}}</p>
					</div>
				</div>
				<div class="extra content">
                    <span class="left floated rating-span">
                        <small ng-if="item.rating == 0">No ratings</small>
                        <i ng-if="item.rating != 0" class="icon star yellow" ng-repeat="n in [] | range: item.rating"></i>                        
                    </span>
					<!-- <span class="left floated">
						<i class="thumbs up icon"></i>
						75
					</span>
					<span class="left floated" style="padding-left: 10px;">
						<i class="comments outline icon"></i>
						25
					</span> -->
					<span class="right floated" ng-if="item.food_group == 100">                        
						<span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>						
                    </span>
					<span class="right floated" ng-if="item.food_group == 010">                        
						<span style="font-size: 12px;font-family: sans-serif !important;color:red;border: 1px solid red;padding: 0 3px;">&#9679;</span>						
                    </span>
					<span class="right floated" ng-if="item.food_group == 001">                        
                            <span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>
                    </span>                    					
					<span class="right floated" ng-if="item.food_group == 101">                        
                        <span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>						
                        <span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>
                    </span>                    					
				</div>
				<div class="extra content">
					<span class="spice-box left floated">
						<i class="fire icon" ng-repeat="n in [] | range: item.spicy"></i>						
					</span>
					<span class="right floated">
						<i class="fa fa-utensils" style="padding-right: 7px;"></i> {{item.servings}}
					</span>
                </div>
                <div class="extra content stats">
                    <div class="text-left">
                        <i ng-class="{'upvoted': item.isUpvoted}" class="chevron up icon pointer" style="outline: none;" ng-click="upvoteRecipe(item.recipe_id, $event)"></i> {{item.upvotes}}						
                    </div>
                    <div class="text-center">
                        <i class="comment icon"></i> {{item.replies}}
                    </div>
                    <div class="text-right">
                        <i class="eye icon"></i> {{item.views}}
                    </div>					
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="pure-u-1 pure-u-md-1-4">&nbsp;</div> -->
	<div class="pure-u-1 pure-u-md-1-4 right-pane-fixed hidden-for-mobile-and-tablet">
		<div style="padding: 15px 0 20px 20px;">
			<p class="featured-tags-title">featured tags</p>
		</div>
		<div style="padding: 0px 20px;">
			<a href="#" class="tag" ng-repeat="item in tags | limitTo: 15">{{item.name}}</a>
		</div>
		<div style="padding: 15px 0 10px 20px;">
			<p class="featured-tags-title">featured recipes</p>
		</div>
		<div class="featured-recipes" style="padding: 0px 20px;">
            <div ng-if="featuredRecipes.length == 0">
                No Featured Recipes to show
            </div>
			<ul ng-if="featuredRecipes.length > 0">                
				<li ng-repeat="item in featuredRecipes track by $index">
					<div class="round-count"><span class="upvotecnt"><i class="icon star"></i></span></div>
					<div class="desc">
						<p class="recipe-title margin0">
							<a href="javascript:;">{{item.title}}</a>
						</p>
						<p class="recipe-user margin0">
							<a href="javascript:;">{{item.fullname}}</a>
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="ui small modal user-profile-signup-modal">
	<div class="header bg-darkCyan">
		<span class="fg-white light">Welcome to What's Cooking</span><br>
		<span class="fg-white">
			<small class="light" style="font-size: 70%;">
				Fill your details to get a personalized recommendation of recipes.
			</small>
		</span>
	</div>
	<div class="content">
        <div class="pure-u-1 cuisine-overflow-content">
            Follow cuisines you love to get personalized content.
            <div class="overflow-width">
                <div class="flt-left thumb" ng-repeat="item in listOfCuisines track by $index">
                    <div class="round" ng-click="addCuisine(item.value, $event)" style="background: url('{{apiurl}}/assets/images/cuisine_photos/{{item.imagepath}}') no-repeat center;">
                        <div class="defocus-panel">
                            <i class="icon check"></i>
                        </div>
                    </div>                    
                    <label class="text-center block" style="padding: 5px 0;font-size: 12px;">{{item.name}}</label>                    
                </div> 
            </div>      
            <input type="hidden" name="selected-cuisines" class="selected-cuisines">                 
        </div>
		<form class="ui form" style="padding-top: 15px;">			
			<div class="two fields">
				<div class="field">					
					<div class="ui input">
						<input type="text" placeholder="City" ng-model="signUpModalProfile.city">
				  	</div>					
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="State" ng-model="signUpModalProfile.state">
					</div>					
				</div>
			</div>			
			<div class="two fields">
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Country" ng-model="signUpModalProfile.country">
					</div>					
				</div>				
				<div class="field">					
					<div class="ui buttons gender-btn-group">
						<button class="ui icon fluid button male male-gender-btn">
							<i class="male icon"></i> Male
						</button>
						<div class="or"></div>
						<button class="ui icon fluid button female-gender-btn">
							<i class="female icon"></i> Female
						</button>						
					</div>										
				</div>	
			</div>				
			<div class="two fields">
				<div class="field">
					<label>Preferred Cuisine</label>
					<select class="ui fluid search selection dropdown modal-cuisine-dropdown" required id="modal-cuisine-dropdown">
                        <option value="">Cuisines</option>
                        <!-- <option ng-repeat="item in listOfCuisines" value="{{item.srno}}">{{item.name}}</option> -->
					</select>
				</div>
				<div class="field">
					<label>Type</label>
					<select name="food-group" ng-model="modalFoodGrpVal" required multiple="" class="ui fluid dropdown modal-food-group-dropdown">
						<option value="">Food Group</option>
						<option value="v">Vegetarian</option>
						<option value="n">Non Vegetarian</option>
						<option value="ve">Vegan</option>
					</select>
				</div>				
			</div>
			<div class="two fields">
				<div class="field">
					<label class="flt-left" style="padding: 7px 5px 0 0;">Spiceness</label>
					<div class="spiciness-rate-box" style="padding-top: 0px;">
						<input type="radio" id="modal_spicy5" ng-model="signUpModalProfile.spiciness" name="spiciness" value="5"><label class="full" for="modal_spicy5" title="Extremely spicy"></label>
						<input type="radio" id="modal_spicy4" ng-model="signUpModalProfile.spiciness" name="spiciness" value="4"><label class="full" for="modal_spicy4" title="Very spicy"></label>
						<input type="radio" id="modal_spicy3" ng-model="signUpModalProfile.spiciness" name="spiciness" value="3"><label class="full" for="modal_spicy3" title="Medium"></label>
						<input type="radio" id="modal_spicy2" ng-model="signUpModalProfile.spiciness" name="spiciness" value="2"><label class="full" for="modal_spicy2" title="Little spicy"></label>
						<input type="radio" id="modal_spicy1" ng-model="signUpModalProfile.spiciness" name="spiciness" value="1"><label class="full" for="modal_spicy1" title="No spicy"></label>
					</div>
				</div>
				<div class="field">
					<div class="ui input">
						<input type="text" placeholder="Calorie restriction" ng-model="signUpModalProfile.calorie_intake">
					</div>					
				</div>												
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui black deny button light">Later</div>
    	<button class="ui positive button save-signup-profile-btn" ng-disabled="validateModalSignUpForm()" ng-click="saveSignupUserProfile(signUpModalProfile)">Save</button>    	    	
  	</div>
</div>
<div class="ui tiny modal status-msg-modal">    
    <div class="content bg-green">
        <p class="fg-white">Your profile has been updated successfully!</p>
    </div>
</div>