<div class="pure-g new-recipe-box" style="display: none;">
	<div class="pure-u-1 pure-u-md-13-24">
		<div style="padding: 10px 20px;">			
			<!-- <p style="font-size: 23px;font-weight: 300;">Let everybody know what's cooking.</p>			 -->
			<div class="ui fluid input">
				<input type="text" ng-model="title" placeholder="Title" class="recipe-title-input" />
			</div>			
			<table class="ui small table custom-table">
				<thead>
					<tr>
						<th>Quantity</th>
						<th>Name</th>
						<th style="padding-left: 60px;">Notes</th>
						<th><i class="cart plus icon large" ng-click="addItem()" style="cursor: pointer;margin-right: -2px;float:right;color: #000;"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in listOfIngredients">
						<td style="width: 26%;"><div class="ui fluid input"><input type="text" ng-model="item.qty" id="input-qty{{$index}}" class="input-qty"></div></td>
						<td style="width: 35%;"><div class="ui fluid input"><input type="text" ng-model="item.name" ng-required><div></td>
						<td style="width: 45%;"><div class="ui fluid input"><input type="text" ng-model="item.notes" ng-required ng-keydown="$event.keyCode === 13 && addItem()"></div></td>
						<td style="width: 5%;">
							<i class="remove icon" ng-click="removeItem($index)" style="text-align: left;cursor: pointer"></i>
						</td>
					</tr>
				</tbody>				
			</table>
			<textarea class="editable" data-placeholder="How to make it"></textarea>			
		</div>
	</div>
	<div class="pure-u-1 pure-u-md-11-24" style="padding: 10px 15px;">
		<p class="text-center">
			<button class="ui blue basic button flt-left pure-u-md-1-5">PREVIEW</button>
			<button class="ui green button pure-u-md-1-2 post-recipe-btn">POST</button>
			<button class="ui button flt-right pure-u-md-1-5" ng-click="toggleNewRecipeBox(0)">CANCEL</button>
		</p>
		<form class="ui form">
			<div class="three fields">
				<div class="field">
				  	<label>Cuisines</label>
				  	<select class="ui fluid dropdown cuisine-dropdown">
						<option value="">Cuisines</option>
						
					</select>
				</div>
				<div class="field">
					<label>Type</label>					
					<select name="food-group" ng-model="foodGrpVal" multiple="" class="ui fluid dropdown food-group-dropdown">						
						<option value="">Food Group</option>
						<option value="v">Vegetarian</option>
						<option value="n">Non Vegetarian</option>
						<option value="ve">Vegan</option>
					</select>
				</div>	
				<div class="field">
					<label>Spiceness</label>
					<div class="spiciness-rate-box">							
						<input type="radio" id="spicy5" ng-model="spiciness" name="spiciness" value="5"><label class="full" for="spicy5" title="Extremely spicy"></label>
						<input type="radio" id="spicy4" ng-model="spiciness" name="spiciness" value="4"><label class="full" for="spicy4" title="Very spicy"></label>
						<input type="radio" id="spicy3" ng-model="spiciness" name="spiciness" value="3"><label class="full" for="spicy3" title="Medium"></label>
						<input type="radio" id="spicy2" ng-model="spiciness" name="spiciness" value="2"><label class="full" for="spicy2" title="Little spicy"></label>
						<input type="radio" id="spicy1" ng-model="spiciness" name="spiciness" value="1"><label class="full" for="spicy1" title="No spicy"></label>						
					</div>
				</div>			
			</div>
			<div class="four fields">
				<div class="field">						  	
					<label>Prepartion Time</label>
					<div class="ui input">
						<input type="text" ng-model="prepTime" placeholder="25 mins" />
					</div>
				</div>
				<div class="field">						  	
					<label>Cooking Time</label>
					<div class="ui input">
						<input type="text" ng-model="cookingTime" placeholder="1 hr 25 mins" />
					</div>
				</div>
				<div class="field">						  	
					<label>Calorie count</label>
					<div class="ui input">
						<input type="text" ng-model="calorieCount" placeholder="200 cal" />
					</div>
				</div>				
				<div class="field">
					<label>No. of servings</label>
					<div class="ui input">
						<input type="text" ng-model="noOfServings" placeholder="4">
					</div>
				</div>				
			</div>			
			<div class="ui fluid multiple search selection dropdown tags-dropdown" style="margin-top: 20px;">
				<input type="hidden" class="tags-hdn-input" name="tags" value="">
				<i class="dropdown icon"></i>
				<input class="search">
				<div class="default text">Tags</div>
				<div class="menu">
					
				</div>
			</div>
			<div class="pure-u-1" style="padding-top: 20px;">
				<div class="pure-g">
					<div class="pure-u-1 pure-u-md-1-3 upload-video-box">
						<div class="ui black card">
							<div class="image">
								<i class="play circle outline icon"></i>
							</div>
						</div>
					</div>
					<div class="pure-u-1 pure-u-md-5-8 upload-photos-box">
						<div class="ui three cards">
							<a class="red card">
								<div class="image">
									<img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
								</div>
							</a>
							<a class="orange card">
								<div class="image">
									<img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
								</div>
							</a>
							<a class="yellow card">
								<div class="image">
									<img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
								</div>
							</a>
						</div>
						<div class="ui three cards" style="margin-top: 0;">
								<a class="red card">
									<div class="image">
										<img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
									</div>
								</a>
								<a class="orange card">
									<div class="image">
										<img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
									</div>
								</a>
								<a class="yellow card">
									<div class="image">
										<img class="ui wireframe image" src="https://semantic-ui.com/images/wireframe/white-image.png">
									</div>
								</a>
							</div>	
					</div>
				</div>				
			</div>	
			<div class="ui fluid input" style="padding-top: 10px;">
				<input type="text" ng-model="recipeDescription" maxlength="200" placeholder="Describe your recipe in few words" />
			</div>		
		</form>
	</div>
</div>
<div class="pure-g feed-box" style="margin-top: 50px;">	
	<div class="pure-u-1 pure-u-md-3-4 left-pane">
		<div class="ui four doubling cards recipe-card-list">			
			<div class="card recipe-item" ng-repeat="i in getNumber(number) track by $index">
				<a class="ui top attached label grayLighter">
					<b class="bold">Indian</b>
					<span class="right floated bold">25 m</span>
				</a>
				<div class="image">
					<img src="https://i0.wp.com/media.hungryforever.com/wp-content/uploads/2016/10/28132136/best-rajma-chawal-in-delhi.jpg" />
				</div>
				<div class="content">
					<div class="header">Rajma Chawal</div>
					<div class="meta"><a><small>Nikita Gokhale</small></a></div>
					<div class="description">
						<p>A traditional punjabi dish.A traditional punjabi dish.</p> 
					</div>
				</div>
				<div class="extra content">
					<span class="left floated">
						<i class="thumbs up icon"></i>
						75
					</span>
					<span class="left floated" style="padding-left: 10px;">
						<i class="comments outline icon"></i>
						25
					</span>
					<span class="right floated">
						<span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>
						<!-- <span style="color:red;border: 1px solid red;padding: 0 3px;">&#9679;</span> -->
						<span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>						
					</span>
				</div>
				<div class="extra content">						
					<span class="spice-box left floated">
						<i class="fire icon"></i>
						<i class="fire icon"></i>
						<i class="fire icon"></i>						
					</span>	
					<span class="right floated">
						<i class="fa fa-utensils" style="padding-right: 7px;"></i> 4
					</span>				
				</div>
			</div>			
		</div>
	</div>
	<!-- <div class="pure-u-1 pure-u-md-1-4">&nbsp;</div> -->
	<div class="pure-u-1 pure-u-md-1-4 right-pane-fixed hidden-for-mobile-and-tablet">
		<div style="padding: 15px 0 20px 20px;">
			<p class="featured-tags-title">featured tags</p>
		</div>
		<div style="padding: 0px 20px;">
			<a href="#" class="tag" ng-repeat="item in tags">{{item.name}}</a>
		</div>
		<div style="padding: 15px 0 10px 20px;">
			<p class="featured-tags-title">featured recipes</p>
        </div>
        <div class="featured-recipes" style="padding: 0px 20px;">
            <ul>
                <li>
                    <div class="round-count"><span class="upvotecnt">4.5</span></div>
                    <div class="desc">
                        <p class="recipe-title margin0">
                            <a href="http://localhost/soapbox/Thread/1039">Chocolate cake</a>
                        </p>
                        <p class="recipe-user margin0">
                            <a href="sipps7">Nikita Gokhale</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>		
	</div>
</div>