<div class="pure-g recipe-main-page">
    <div class="pure-u-1 pure-u-md-1 loader-bg" style="right:0;display: none;">
        <div>
            <i class="fa fa-circle-notch fa-pulse fg-gray fa-spin" style="font-size: 25px;width:25px;height:25px;"></i>
        </div>
    </div>
    <div class="pure-u-md-6-24">&nbsp;</div>
    <div class="pure-u-md-6-24 hidden-for-mobile ingredients-container">
        <div class="pure-g">
            <div class="pure-u-1" style="padding: 20px 20px 10px 20px;">
                <h3 class="light">{{ 'Ingredients' | uppercase }}</h3>
            </div>
            <div class="pure-u-1 ing-list-desc" style="padding: 0 20px;">
                <!-- <ol>
                    <li>
                        <div class="align-top">
                            1 cup butter
                        </div>
                    </li>                    
                </ol> -->
                <div ng-bind-html="recipe.safeIngredients"></div>
            </div>
        </div>        
    </div>
    <div class="pure-u-1 pure-u-md-12-24 recipe-container" style="padding-bottom: 20px;">        
        <ul>
            <li class="pure-u-1 recipe" data-rid="recipe.srno">
                <div class="pure-g">                        
                    <div class="pure-u-1">                            
                        <ul style="margin: 0;">                            
                            <li class="pure-u-1">                                    
                                <div class="pure-g">
                                    <div class="pure-u-1" style="margin-bottom: 10px;">
                                        <ul>
                                            <li>
                                                <div class="avatar" style="background-image: url('images/wireframe_image.png');"></div>
                                            </li>
                                            <li style="padding-left: 10px;">
                                                <p>
                                                    <a href="/#!/user/{{recipe.username}}">{{recipe.owner}}</a>
                                                    <br>
                                                    <small>
                                                        <a href="javascript:;" class="fg-grayDark link">{{recipe.cname}}</a>
                                                        <span class="dot-center"></span>
                                                        <span title="{{recipe.timestamp}}">{{recipe.time_elapsed}}</span>
                                                    </small>
                                                </p>
                                            </li>
                                            <li class="flt-right" ng-if="recipe.uid == userProfile.userid">
                                                <i class="fa fa-chevron-down pointer fg-grayLight toggle-thread-options"></i>
                                                <div class="thread-options-dropdown-parent" style="display: none;position: relative;">
                                                    <div class="dropdown thread-options-dropdown" style="right: 0;">
                                                        <ul>
                                                            <li class="bg-white fg-gray"><a href="javascript:;"><i class="fa fa-trash fa-fw"></i> Delete this recipe</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="!recipeVideo || recipeVideo == ''" class="pure-u-1 thumbnail pointer" data-image="{{apiurl}}/userdata/{{recipe.uid}}/{{recipe.cover_imagepath}}" style="background-image:url('{{apiurl}}/userdata/{{recipe.uid}}/{{recipe.cover_imagepath}}');background-size:cover" ng-cloak></div>
                    <div ng-if="recipeVideo" class="pure-u-1 thumbnail-video">
                        <video ng-cloak ng-src="{{apiurl}}/userdata/{{recipe.uid}}/{{recipeVideo}}" width="100%" height="100%" controls controlsList="nodownload"></video>
                    </div>
                    <div ng-if="recipeVideo == '' && recipe.cover_imagepath == ''" class="pure-u-1 image-grid">
                        <div class="pure-g">
                            <div class="pure-u-1">
                                <img style="width: 32.8%;height:68px;" ng-repeat="img in recipe.gallery" ng-if="img.type != 2" ng-src="{{apiurl}}/userdata/{{recipe.uid}}/{{img.path}}" ng-cloak>                                
                            </div>
                        </div>                                                        
                    </div>
                    <div class="pure-u-1 ttitle" style="padding: 10px 0;">
                        <h2 class="black flt-left" style="color: rgba(0,0,0,0.8);width: 87%;">{{recipe.title}}</h2>                        
                        <div ng-if="recipe.food_group == 100" style="width: 8%;float: right;text-align:right;">
                            <span class="food-group-icon veg-icon">&#9679;</span>
                        </div>
                        <div ng-if="recipe.food_group == 010" style="width: 8%;float: right;text-align:right;">
                                <span class="food-group-icon nonveg-icon">&#9679;</span>
                        </div>
                        <div ng-if="recipe.food_group == 001" style="width: 8%;float: right;text-align:right;">
                            <span class="fg-black food-group-icon vegan-icon">V</span>
                        </div>
                        <div ng-if="item.food_group == 101" style="width: 8%;float: right;text-align:right;">
                            <span class="food-group-icon veg-icon">&#9679;</span>
                            <span class="fg-black food-group-icon vegan-icon">V</span>
                        </div>
                        <i ng-if="recipe.is_favourite == 1" class="icon heart flt-right pointer added fg-red" style="width: 0%;padding: 4px;font-size: 21px;" ng-click="updateFavourite($event)"></i>
                        <i ng-if="recipe.is_favourite != 1" class="icon heart outline flt-right pointer" style="width: 0%;padding: 4px;font-size: 21px;" ng-click="updateFavourite($event)"></i>                        
                    </div>
                    <div class="pure-u-1 recipe-desc">
                        <!-- <ol style="margin:0;padding:0;">
                            <li>
                                <div class="align-top">
                                    Been few days started with design and database. Lot is remaining in terms of thought and implementation. 
                                </div>
                            </li>                                                     
                        </ol> -->
                        <div ng-bind-html="recipe.safePreparation"></div>
                    </div>
                    <div class="pure-u-1 recipe-tags">
                        <a ng-repeat="tag in recipe.tags" href="/#!/tag/{{tag.name}}" class="tag">{{tag.name}}</a>                        
                    </div>
                </div>
            </li>
        </ul>
        <div class="ui divider pure-u-1 margin0"></div>
        <div class="pure-g">
            <div class="pure-u-1" style="padding: 0 20px;">                
                <button class="ui button basic blue reply-box-toggle-btn">Post a reply...</button>
                <div class="ui comments self-reply-box" style="display: none;margin-top:0;">
                    <div class="comment">
                        <a class="avatar">
                            <img src="/images/wireframe_image.png">
                        </a>
                        <div class="content">
                            <a class="author">{{userProfile.fname + ' ' + userProfile.lname}}</a>                                                                      
                            <form class="ui reply form">
                                <div class="field">
                                    <textarea style="height:112px" class="reply-desc"></textarea>
                                </div>
                                <div class="ui primary submit labeled icon button post-reply-btn">
                                    <i class="icon edit"></i> Add Reply
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="light text-center" ng-if="recipe.list_of_replies.length == 0">No replies</div>
                <div class="ui comments" ng-if="recipe.list_of_replies.length > 0">
                    <div class="comment" ng-repeat="reply in recipe.list_of_replies" ng-cloak>
                        <a class="avatar">
                            <img src="/images/wireframe_image.png">
                        </a>
                        <div class="content">
                            <a class="author">{{reply.fullname}}</a>
                            <div class="metadata">
                                <div class="date">{{reply.time_elapsed}}</div>                                
                            </div>                        
                            <div class="text" style="font-size: 13px;">
                                {{reply.description}}
                            </div>
                            <div class="actions" ng-if="recipe.uid == userProfile.userid">
                                <a class="reply toggle-reply-box">Reply</a>
                            </div>
                            <form class="ui reply form" style="display: none;">
                                <div class="field">
                                    <textarea style="height:112px"></textarea>
                                </div>
                                <div class="ui primary submit labeled icon button">
                                    <i class="icon edit"></i> Add Reply
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pure-u-md-6-24">&nbsp;</div>
    <div class="pure-u-md-6-24 hidden-for-mobile stats-action-container">
        <div class="pure-g">
            <div ng-if="recipeVideo != '' || recipe.cover_imagepath != ''" class="pure-u-1 image-grid" style="padding: 20px;">
                <h3 class="light">Recipe images</h3>
                <div class="pure-g">
                    <div class="pure-u-1">
                        <img class="grid-img" style="width: 32%;height: 68px;padding:0 5px;cursor: -webkit-zoom-in" data-img="{{apiurl}}/userdata/{{recipe.uid}}/{{img.path}}" ng-repeat="img in recipe.gallery" ng-src="{{apiurl}}/userdata/{{recipe.uid}}/{{img.path}}" ng-cloak>                     
                    </div>
                </div>                 
            </div>
            <div class="pure-u-1 stars-div" style="padding: 0px 20px;">                
                <h3 class="flt-left light" style="padding-right: 10px;">Recipe rating</h3>
                <div ng-hide="true">{{outOf = getStars(recipe.rating).split('%')[0]/100 * 5.0}}</div>
                <div class="stars-container-div" title="{{outOf}} out of 5.0">
                    <div>
                        <img height="20px" class="first" src="https://image.ibb.co/jpMUXa/stars_blank.png" alt="img">
                    </div>
                    <div class="cornerimage" ng-style="{ 'width': getStars(recipe.rating) }">
                        <img height="20px" src="https://image.ibb.co/caxgdF/stars_full.png" alt="">
                    </div>                
                </div>                        
            </div>
            <div class="pure-u-1 recipe-prep-stats" style="padding: 10px 20px;">
                <ul>
                    <li>                        
                        <i class="fa fa-cut"></i>
                        <br>
                        <span>{{recipe.prep_time}}</span>
                    </li>
                    <li>
                        <i class="icon alarm clock"></i>
                        <br>
                        <span>{{recipe.cooking_time}}</span>
                    </li>
                    <li>
                        <i class="fa fa-utensils"></i>
                        <br>
                        <span>{{recipe.servings}}</span>
                    </li>
                </ul>
            </div>
            <div class="ui divider pure-u-1" style="margin: 10px 20px;"></div>
            <div class="pure-u-1 recipe-user-stats" style="padding: 0 20px;">
                <ul>
                    <li>                        
                        <i ng-class="{'upvoted': recipe.is_upvoted == 1}" ng-click="upvoteRecipe($event);" style="outline: none;" class="chevron up icon pointer"></i>
                        <br>
                        <span style="margin-left: -6px;">{{recipe.upvotes}}</span>
                    </li>
                    <li>
                        <i class="comment icon"></i>
                        <br>
                        <span style="margin-left: -6px;">{{recipe.replies}}</span>
                    </li>
                    <li class="views-to-thread pointer">
                        <i class="eye icon"></i>
                        <br>
                        <span style="margin-left: -6px;">{{recipe.views}}</span>
                    </li>
                </ul>
            </div>   
            <div class="ui divider pure-u-1" style="margin: 20px 20px 10px;"></div>  
            <div class="pure-u-1" style="padding: 0px 50px;">
                <span class="spice-box flt-left text-center">
                    <span class="text-center">Spiciness</span>
                    <br>
					<div style="margin-top: 7px;">
                        <i class="fire icon" ng-repeat="n in [] | range: recipe.spicy"></i>						
                    </div>
                </span>
                <span class="flt-right text-left">
                    <span class="text-center">Calorie Intake</span>
                    <br>
                    <div style="margin-top: 7px;text-align: center;">
                        <i class="heartbeat icon fg-gray" style="font-size: 18px;"></i> {{recipe.calorie_intake}}
                    </div>
                </span>
            </div>  
            <div class="ui divider pure-u-1" style="margin: 20px 20px 10px;"></div>  
            <div class="pure-u-1" style="padding: 0 20px;">
                <div style="font-size: 16px;">
                    Rate this recipe: <div class="ui star rating" data-max-rating="5"></div>
                </div>
            </div>     
        </div>
    </div>
</div>