<div class="pure-g recipe-main-page">
    <div class="pure-u-1 pure-u-md-1 loader-bg" style="right:0;">
        <div>
            <i class="fa fa-circle-notch fa-pulse fg-gray fa-spin" style="font-size: 25px;width:25px;height:25px;"></i>
        </div>
    </div>
    <div class="pure-u-md-6-24 bg-gray">&nbsp;</div>
    <div class="pure-u-md-6-24 bg-gray hidden-for-mobile" style="position: fixed;left:0;top: 50px;height: 100%;">7-24</div>
    <div class="pure-u-1 pure-u-md-12-24 bg-cyan">        
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
        <h1 class="light">Main recipe content</h1><br>
    </div>
    <div class="pure-u-md-6-24 bg-teal">&nbsp;</div>
    <div class="pure-u-md-6-24 bg-teal hidden-for-mobile" style="position: fixed;right:0;top: 50px;height: 100%;">6-24</div>
</div>