<div class="pure-g search-page">
    <div class="pure-u-1 bg-white" style="position: fixed;z-index: 99;">
        <div style="padding: 20px 30px;">
            <h2 class="light">
                <input type="text" placeholder="Search" ng-model="searchInput" class="search-all-input" value="" />
            </h2>
        </div>
    </div>
    <!-- <div class="pure-u-1" style="height: 103px;"></div> -->
    <div class="pure-u-1" style="margin-top: 85px;">
        <div style="padding: 10px 30px;">
            <div class="pure-g">                
                <div class="pure-u-1-4 search-by-filters-fixed">
                    <ul>                        
                        <li class="s-recipes active">
                            <h6 class="light">Search by recipe name</h6>
                        </li>
                        <li class="s-people">
                            <h6 class="light">Search people</h6>
                        </li>                            
                        <li class="sort-li">
                            <h6 class="light">Sort by</h6>
                            <div>
                                <div class="ui form">
                                    <div class="grouped fields">                                                                                                                        
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="sort_by" value="featured" tabindex="0" class="hidden">
                                                <label class="light">Featured</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="sort_by" value="ratings_ltoh" tabindex="1" class="hidden">
                                                <label class="light">Ratings: Low to High</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="sort_by" value="ratings_htol" tabindex="2" class="hidden">
                                                <label class="light">Ratings: High to Low</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>  
                        <li class="s-food-group">
                            <h6 class="light">Food group</h6>
                            <div>
                                <div class="ui form">
                                    <div class="grouped fields">                                                                                                                        
                                        <div class="field">
                                            <div class="ui checkbox food-group-checkbox">
                                                <input type="checkbox" name="food_group" value="v" tabindex="0" class="hidden">
                                                <label class="light">Vegetarian</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox food-group-checkbox">
                                                <input type="checkbox" name="food_group" value="n" tabindex="1" class="hidden">
                                                <label class="light">Non-Vegetarian</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox food-group-checkbox">
                                                <input type="checkbox" name="food_group" value="ve" tabindex="2" class="hidden">
                                                <label class="light">Vegan</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="s-spiciness">
                            <h6 class="light">Spiciness</h6>
                            <div>
                                <div class="spiciness-rate-box" style="padding-top: 13px;margin-left: -7px;">
                                    <input type="radio" id="modal_spicy5" ng-model="filters.spiciness" name="spiciness" value="5"><label class="full" for="modal_spicy5" title="Extremely spicy"></label>
                                    <input type="radio" id="modal_spicy4" ng-model="filters.spiciness" name="spiciness" value="4"><label class="full" for="modal_spicy4" title="Very spicy"></label>
                                    <input type="radio" id="modal_spicy3" ng-model="filters.spiciness" name="spiciness" value="3"><label class="full" for="modal_spicy3" title="Medium"></label>
                                    <input type="radio" id="modal_spicy2" ng-model="filters.spiciness" name="spiciness" value="2"><label class="full" for="modal_spicy2" title="Little spicy"></label>
                                    <input type="radio" id="modal_spicy1" ng-model="filters.spiciness" name="spiciness" value="1"><label class="full" for="modal_spicy1" title="No spicy"></label>
                                </div>
                            </div>                  
                        </li>
                        <li class="s-cuisines">
                            <h6 class="light">Cuisines</h6>
                            <div>
                                <div class="field" style="margin-top: 10px;">
                                    <select class="ui fluid search selection dropdown search-page-cuisine-dropdown" required id="search-page-cuisine-dropdown">
                                        <option value="">Cuisines</option>                                        
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="pure-u-1-4">&nbsp;</div> -->
                <div class="pure-u-3-4" style="padding: 0 0 0 30px;">
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                    <h2>dasdasdasdsad</h2>
                </div>
            </div>
        </div>
    </div>
</div>