<div class="pure-g search-page">
    <div class="pure-u-1 bg-white" style="position: fixed;z-index: 99;">
        <div style="padding: 20px 30px;">
            <h2 class="light">
                <input type="text" placeholder="Search" ng-model="searchInput" class="search-all-input" value="" />
            </h2>
        </div>
    </div>
    <!-- <div class="pure-u-1" style="height: 103px;"></div> -->
    <div class="pure-u-1" style="margin-top: 85px;">
        <div style="padding: 10px 30px;">
            <div class="pure-g">                
                <div class="pure-u-1-4 search-by-filters-fixed">
                    <ul>                        
                        <li class="s-recipes active">
                            <h6 class="light">Search by recipe name</h6>
                        </li>
                        <li class="s-people">
                            <h6 class="light">Search people</h6>
                        </li>                            
                        <li class="sort-li">
                            <h6 class="light">Sort by</h6>
                            <div>
                                <div class="ui form">
                                    <div class="grouped fields">                                                                                                                        
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="sort_by" value="featured" tabindex="0" class="hidden">
                                                <label class="light">Featured</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="sort_by" value="ratings_ltoh" tabindex="1" class="hidden">
                                                <label class="light">Ratings: Low to High</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui radio checkbox">
                                                <input type="radio" name="sort_by" value="ratings_htol" tabindex="2" class="hidden">
                                                <label class="light">Ratings: High to Low</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>  
                        <li class="s-food-group">
                            <h6 class="light">Food group</h6>
                            <div>
                                <div class="ui form">
                                    <div class="grouped fields">                                                                                                                        
                                        <div class="field">
                                            <div class="ui checkbox food-group-checkbox">
                                                <input type="checkbox" name="food_group" value="v" tabindex="0" class="hidden">
                                                <label class="light">Vegetarian</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox food-group-checkbox">
                                                <input type="checkbox" name="food_group" value="n" tabindex="1" class="hidden">
                                                <label class="light">Non-Vegetarian</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox food-group-checkbox">
                                                <input type="checkbox" name="food_group" value="ve" tabindex="2" class="hidden">
                                                <label class="light">Vegan</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="s-spiciness">
                            <h6 class="light">Spiciness</h6>
                            <div>
                                <div class="spiciness-rate-box" style="padding-top: 13px;margin-left: -7px;">
                                    <input type="radio" id="modal_spicy5" ng-model="filters.spiciness" name="spiciness" value="5"><label class="full" for="modal_spicy5" title="Extremely spicy"></label>
                                    <input type="radio" id="modal_spicy4" ng-model="filters.spiciness" name="spiciness" value="4"><label class="full" for="modal_spicy4" title="Very spicy"></label>
                                    <input type="radio" id="modal_spicy3" ng-model="filters.spiciness" name="spiciness" value="3"><label class="full" for="modal_spicy3" title="Medium"></label>
                                    <input type="radio" id="modal_spicy2" ng-model="filters.spiciness" name="spiciness" value="2"><label class="full" for="modal_spicy2" title="Little spicy"></label>
                                    <input type="radio" id="modal_spicy1" ng-model="filters.spiciness" name="spiciness" value="1"><label class="full" for="modal_spicy1" title="No spicy"></label>
                                </div>
                            </div>                  
                        </li>
                        <li class="s-cuisines">
                            <h6 class="light">Cuisines</h6>
                            <div>
                                <div class="field" style="margin-top: 10px;">
                                    <select class="ui fluid search selection dropdown search-page-cuisine-dropdown" required id="search-page-cuisine-dropdown">
                                        <option value="">Cuisines</option>                                        
                                    </select>
                                </div>
                            </div>
                        </li>
                        <li class="s-calorie-intake">
                            <h6 class="light">Calorie Intake</h6>
                            <div>
                                <div class="field">
                                    <div class="ui fluid input" style="padding-top: 5px;">
                                        <input type="text" name="calorie_intake" ng-model="filters.calorie_intake" placeholder="200" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="s-cooking-time">
                            <h6 class="light">Cooking Time</h6>
                            <div>
                                <div class="ui form">                                
                                    <div class="two fields" style="padding-top: 5px;margin-bottom: 0px;">
                                        <div class="field">
                                            <div class="ui fluid input">
                                                <input type="number" name="cooking_time" class="c-time-input" min="0" />
                                            </div>
                                        </div>
                                        <div class="field">                                            
                                            <select name="time" class="ui fluid selection dropdown ctime-dropdown" required id="">
                                                <option value="mins">mins</option>                                        
                                                <option value="hour">hour</option>                                                                                    
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- <div class="pure-u-1-4">&nbsp;</div> -->
                <div class="pure-u-3-4" style="padding: 10px 0 0 30px;">
                    <div class="pure-u-1 pure-u-md-1 loader-bg" style="right:0;display: none;">
                        <div>
                            <img src="images/loader.1.gif" alt="" style="height: 170px;">                            
                        </div>
                    </div>
                    <div class="ui four doubling cards recipe-card-list" style="position: relative;">
                        <div class="card recipe-item">                
                            <a class="ui top attached label recipe-card-menu" style="background-color: #e8e8e861;">
                                <b class="bold">{{item.cname}}</b>
                                <span class="right floated bold">{{item.cooking_time}}</span>
                            </a>
                            <div class="ui top attached label recipe-card-hover-menu" style="display:none;background-color: #333;">
                                <!-- <label class="fg-white light left floated" style="font-size: 13px;margin-top:-2px;">Favourites <i class="icon heart pointer"></i></label> -->
                                <span class="right floated" style="font-size: 17px;margin-top:-4px;"><i class="icon ellipsis vertical fg-white pointer text-right"></i></span>
                            </div>
                            <div class="ui image" style="margin-top: 2em;height: 160px;overflow:hidden;">                    
                                <img ng-if="item.cover_imagepath == ''" src="images/wireframe_image.png" />
                                <img ng-if="item.cover_imagepath != ''" src="{{apiurl}}/{{item.cover_imagepath}}" />
                            </div>
                            <div class="content">
                                <div class="header">
                                    <div style="width: 90%;" class="left floated"><a href="/#!/recipe/{{item.recipe_id}}" class="fg-gray">{{item.title}}</a></div> 
                                    <i ng-if="item.addedToFavourites" class="icon heart right floated pointer added fg-red" style="width: 7%;" ng-click="addToFavourites(item.recipe_id, $event)"></i>
                                    <i ng-if="!item.addedToFavourites" class="icon heart outline right floated pointer" style="width: 7%;" ng-click="addToFavourites(item.recipe_id, $event)"></i>
                                </div>
                                <div class="meta"><a href="/#!/user/{{item.username}}"><small>{{item.fullname}}</small></a></div>
                                <div class="description">
                                    <p>{{item.description}}</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <span class="left floated rating-span">
                                    <small ng-if="item.rating == 0">No ratings</small>
                                    <i ng-if="item.rating != 0" class="icon star yellow" ng-repeat="n in [] | range: item.rating"></i>                        
                                </span>					
                                <span class="right floated" ng-if="item.food_group == 100">                        
                                    <span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>						
                                </span>
                                <span class="right floated" ng-if="item.food_group == 010">                        
                                    <span style="font-size: 12px;font-family: sans-serif !important;color:red;border: 1px solid red;padding: 0 3px;">&#9679;</span>						
                                </span>
                                <span class="right floated" ng-if="item.food_group == 001">                        
                                        <span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>
                                </span>                    					
                                <span class="right floated" ng-if="item.food_group == 101">                        
                                    <span style="font-size: 12px;font-family: sans-serif !important;color:green;border: 1px solid green;padding: 0 3px;">&#9679;</span>						
                                    <span class="fg-black" style="font-size: 12px;font-family: sans-serif !important;margin-left: 5px;padding: 1px 4px;border: 1px solid #000;border-radius: 100%;">V</span>
                                </span>                    					
                            </div>
                            <div class="extra content">
                                <span class="spice-box left floated">
                                    <i class="fire icon" ng-repeat="n in [] | range: item.spicy"></i>						
                                </span>
                                <span class="right floated">
                                    <i class="fa fa-utensils" style="padding-right: 7px;"></i> {{item.servings}}
                                </span>
                            </div>
                            <div class="extra content stats">
                                <div class="text-left">
                                    <i ng-class="{'upvoted': item.isUpvoted}" class="chevron up icon pointer" style="outline: none;" ng-click="upvoteRecipe(item.recipe_id, $event)"></i> {{item.upvotes}}						
                                </div>
                                <div class="text-center">
                                    <i class="comment icon"></i> {{item.replies}}
                                </div>
                                <div class="text-right">
                                    <i class="eye icon"></i> {{item.views}}
                                </div>					
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>